.statGrid {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  margin-bottom: 10px;
}

.mat-divider {
  margin: 10px;
}

.statCard {
  max-height: 210px;
  min-width: 315px;
  width: auto;
}

.statCard:nth-child(4n + 1) {
  grid-column: 1;
}

.statCard:nth-child(4n + 2) {
  grid-column: 2;
}

.statCard:nth-child(4n + 3) {
  grid-column: 3;
}

.statCard:nth-child(4n + 4) {
  grid-column: 4;
}

.attribute-stat-container {
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.attribute-stat-values {
  display: flex;
  justify-content: space-between;
}
