<div mat-dialog-title>
  <h3>Статистика от {{datePipe.transform(this.statistics.data.mainStatistics.lastImport)}}</h3>
</div>

<mat-dialog-content>
  <div class="statGrid">
    <mat-card class="statCard">
      <mat-card-title>Общая статистика</mat-card-title>
      <p>Всего: <strong>{{this.statistics.data.mainStatistics.productQty}}</strong></p>
      <p>Добавлено: <strong>{{this.statistics.data.mainStatistics.productAddQty}}</strong></p>
      <p>Обновлено: <strong>{{this.statistics.data.mainStatistics.productUpdateQty}}</strong></p>
    </mat-card>

    <mat-card *ngFor="let chart of chartList" class="statCard">
      <mat-card-title>{{chart.datasets[0].label}}</mat-card-title>
      <mat-card-subtitle>
        Всего <strong>{{chart.datasets[0].data[0]}}</strong>
        Добавлено <strong>{{chart.datasets[0].data[1]}}</strong>
        Изменено <strong>{{chart.datasets[0].data[2]}}</strong>
      </mat-card-subtitle>
      <canvas baseChart [type]="'bar'" [options]="chartOptions" [data]="chart"></canvas>
    </mat-card>

  </div>
</mat-dialog-content>
