.stat-grid {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  margin-bottom: 10px;
}

.mat-divider {
  margin: 10px;
}

.stat-card {
  max-height: 250px;
  .chart-container {
    display: block;
  }
}

.stat-card:nth-child(4n + 1) {
  grid-column: 1;
}

.stat-card:nth-child(4n + 2) {
  grid-column: 2;
}

.stat-card:nth-child(4n + 3) {
  grid-column: 3;
}

.stat-card:nth-child(4n + 4) {
  grid-column: 4;
}

.attribute-stat-container {
  margin-bottom: 15px;
  padding: 5px;
}

.attribute-stat-values {
  display: flex;
  justify-content: space-between;
}

@mixin l-devices {
  .stat-grid {
    display: block;
  }
}

@mixin xl-devices {
  .stat-grid {
    display: grid;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  @include l-devices;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  @include xl-devices;
}
