<div mat-dialog-title>
  <h3>Статистика от {{this.statistics.data.mainStatistics ? datePipe.transform(this.statistics.data.mainStatistics.lastImport) : datePipe.transform(this.statistics.data.lastImport)}}</h3>
</div>

<mat-dialog-content>
  <div class="statGrid" *ngIf="statistics.chartType == 'import'">
    <mat-card class="statCard">
      <mat-card-title>Общая статистика</mat-card-title>
      <p>Всего: <strong>{{this.statistics.data.mainStatistics ? this.statistics.data.mainStatistics.productQty : this.statistics.data.productQty}}</strong></p>
      <p>Добавлено: <strong>{{this.statistics.data.mainStatistics ? this.statistics.data.mainStatistics.productAddQty : this.statistics.data.productAddQty}}</strong></p>
      <p>Обновлено: <strong>{{this.statistics.data.mainStatistics ? this.statistics.data.mainStatistics.productUpdateQty : this.statistics.data.productUpdateQty}}</strong></p>
    </mat-card>

    <mat-card *ngFor="let chart of chartList" class="statCard">
      <mat-card-title>{{chart.datasets[0].label}}</mat-card-title>
      <mat-card-subtitle>
        Всего: <strong>{{chart.datasets[0].data[0]}}</strong>
        Добавлено: <strong>{{chart.datasets[0].data[1]}}</strong>
        Обновлено: <strong>{{chart.datasets[0].data[2]}}</strong>
      </mat-card-subtitle>
      <div>
        <canvas baseChart [type]="'bar'" [options]="chartOptions" [data]="chart"></canvas>
      </div>
    </mat-card>
  </div>

  <div *ngIf="statistics.chartType == 'attributes'">

    <div class="attribute-stat-container">
      <div class="page-title">Общая статистика</div>
      <div class="attribute-stat-values">
        <span>Всего: <strong>{{this.statistics.data.mainStatistics ? this.statistics.data.mainStatistics.attributeQty : this.statistics.data.attributeQty}}</strong></span>
        <span>Фиксированных: <strong>{{this.statistics.data.mainStatistics ? this.statistics.data.mainStatistics.attributeIsFixedQty : this.statistics.data.attributeIsFixedQty}}</strong></span>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="statGrid">
      <mat-card class="statCard" *ngFor="let stat of this.statistics.data.statisticsSupplier">
        <div class="page-title">{{stat.supplierName}}</div>
        <div class="attribute-stat-values">
          <span>Всего: <strong>{{stat.attributeQty}}</strong></span>
          <span>Фиксированных: <strong>{{stat.attributeIsFixedQty}}</strong></span>
        </div>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
