<table mat-table [dataSource]="dataSource" matSort [matSortActive]="sortActive" matSortDirection="{{sortDirection}}" (matSortChange)="sortData($event)" matSortDisableClear>

  <!-- title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Название</th>
    <td mat-cell *matCellDef="let row">id: {{row.id}}  |{{row.title}}</td>
  </ng-container>

  <!-- parentId Column -->
  <ng-container matColumnDef="parentId">
    <th mat-header-cell *matHeaderCellDef>parentId</th>
    <td mat-cell *matCellDef="let row">{{row.parentId}}</td>
  </ng-container>

  <!-- vendorId Column -->
  <ng-container matColumnDef="venderId">
    <th mat-header-cell *matHeaderCellDef>vendorId</th>
    <td mat-cell *matCellDef="let row">{{row.venderId}}</td>
  </ng-container>

  <!-- supplierId Column -->
  <ng-container matColumnDef="supplierId">
    <th mat-header-cell *matHeaderCellDef>supplierId</th>
    <td mat-cell *matCellDef="let row">{{row.supplierId}}</td>
  </ng-container>

  <!-- description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Описание</th>
    <td mat-cell *matCellDef="let row">{{row.description}}</td>
  </ng-container>

  <!-- ACTIONS Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button matTooltip="Изменить документ" (click)="editCategory(item)">
        <mat-icon>edit</mat-icon>
      </button>&nbsp;
      <button  mat-icon-button matTooltip="Удалить документ" (click)="deleteCategory(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
</table>
