<style>
  .column {
    float:left;
  }
  .leftColumn {
    width: 55%;
  }
  .rightColumn {
    width: 45%;
  }
  .row:after{
    content:"";
    display: table;
    clear: both;
  }

  .centered-element {
    vertical-align: middle;
  }
</style>


<div style="margin-top: 10px; margin-right: 30px; width:400px;" *ngIf="pack && (pack.barcode || pack.packQty || pack.volume || pack.weight)">

  <div class="centered-element">
    <div class="column leftColumn">
      <div  style="margin-top:25px;">
        <ngx-barcode [bc-width]="1.7" [bc-height]="40" [bc-margin]="0" [bc-margin-top]="4" [bc-margin-right] ="0" [bc-margin-left]="0" [bc-value]="pack.barcode" [bc-display-value]="true" class="bcode"></ngx-barcode>
        <div class="bc_placeholder" *ngIf="!pack.barcode"> </div>
      </div>

    </div>
    <div class="column rightColumn">
      <mat-list style="width: 200px">
        <mat-list-item>
          <div *ngIf="pack.weight"><mat-icon>scale </mat-icon> {{Math.round((pack.weight + Eps) * 100) / 100}} гр. </div>
        </mat-list-item>
        <mat-list-item>
          <div *ngIf="pack.volume" matTooltip="{{pack.width | number : '1.0-2'}} x {{pack.height | number : '1.0-2'}} x {{pack.depth | number : '1.0-2'}}"><mat-icon>view_in_ar</mat-icon> {{Math.round((pack.volume + Eps) * 100) / 100}} см<sup>3</sup> <sup *ngIf="isCalculatedVolume">*</sup></div>
        </mat-list-item>
        <mat-list-item>
          <div *ngIf="pack.type"><mat-icon>format_size</mat-icon> {{pack.type}} </div>
        </mat-list-item>
        <mat-list-item>
          <div *ngIf="pack.width || pack.height || pack.depth" ><mat-icon>straighten</mat-icon> {{pack.width | number : '1.0-2'}} x {{pack.height | number : '1.0-2'}} x {{pack.depth | number : '1.0-2'}} см</div>
        </mat-list-item>
      </mat-list>
    </div>

  </div>



</div>

