.mat-form-field {
  width: 100% !important;
}

.form-block-double {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.form-block-triple {
  width: 78%;
  display: flex;
  justify-content: space-between;
}

.form-block-full {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mat-stepper-vertical-line .mat-vertical-content-container .mat-vertical-content {
  margin-top: 6px !important;
}

.mat-column-headerAction {
  width: 100px !important;
  justify-content: center;
  text-align: center;
}

.mat-column-headerKey {
  width: 200px !important;
}

.mat-column-headerValue {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 600px !important;
  min-width: 500px !important;
}

.add-new-config {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
}

:host ::ng-deep .mainTabGroup > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels {
  flex-direction: column;
}

:host ::ng-deep .mainTabGroup > .mat-tab-header > .mat-tab-label-container > .mat-tab-list {
  padding: 0 40px 0 40px;
}

mat-tab-group.mainTabGroup {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

:host ::ng-deep .mat-tab-label-content {
  font-weight: bolder;
}

:host ::ng-deep.mat-tab-label {
  border-bottom: 2px solid #3f51b5;
}

form {
  margin-top: 10px;
}

.headers-table {
  width: 78%;
  display: inline-flex;
}

.body-textarea {
  margin-top: 10px;
  textarea {
    height: 100px;
  }
}
