table {
  width: 100%;
}
.full-width {
  width: 100%;
}
.mat-form-field {
  width: 100% !important;
}
.formBlockWrapper {
  display: flex;
  height: 250px;
}
.formBlockSingle {
  width: 25%;
  display: flex;
  justify-content: space-between
}
.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.formBlockTriple {
  width: 73%;
  display: flex;
  justify-content: space-between
}
.formBlockFull {
  width: 100%;
  display: flex;
  justify-content: space-between
}
p {
  margin: 0 auto;
}
.mat-stepper-vertical-line .mat-vertical-content-container .mat-vertical-content {
  margin-top: 6px !important;
}
.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 120px !important;
  width: 250px !important;
  justify-content: center;
  text-align: -webkit-center;
  text-align: center;
}
.mat-column-key {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 500px !important;
  width: 500px !important;
}
.mat-column-value {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 600px !important;
  min-width: 500px !important;
}

.tableDiv {
  max-height: 500px;
  overflow-y: scroll;
  overflow: auto;
}

.mat-column-headerAction {

  width: 100px !important;
  justify-content: center;
  text-align: -webkit-center;
  text-align: center;
}
.mat-column-headerKey {

  width: 200px !important;
}
.mat-column-headerValue {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 600px !important;
  min-width: 500px !important;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.addNewConfig {
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
}
