.mat-mdc-form-field {
  width: 100% !important;
}

.mat-mdc-form-field:not(:last-child) {
  margin-right: 5px !important;
}

.form-block-double {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-block-triple {
  width: 78%;
  display: flex;
  justify-content: space-between;
}

.form-block-full {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mat-stepper-vertical-line .mat-vertical-content-container .mat-vertical-content {
  margin-top: 6px !important;
}

.mat-column-headerAction {
  width: 100px !important;
  justify-content: center;
  text-align: center;
}

.mat-column-headerKey {
  width: 200px !important;
}

.mat-column-headerValue {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 600px !important;
  min-width: 500px !important;
}

.add-new-config {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
}

:host ::ng-deep .mainTabGroup > .mat-mdc-tab-header > .mat-mdc-tab-label-container > .mat-mdc-tab-list > .mat-mdc-tab-labels {
  flex-direction: column;
}

:host ::ng-deep .mainTabGroup > .mat-mdc-tab-header > .mat-mdc-tab-label-container > .mat-mdc-tab-list {
  padding: 0 40px 0 40px;
}

mat-mdc-tab-group.mainTabGroup {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-tab-body-content {
  overflow: hidden;
}

mat-mdc-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

:host ::ng-deep .mat-mdc-tab-label-content {
  font-weight: bolder;
}

:host ::ng-deep.mat-mdc-tab-label {
  border-bottom: 2px solid #3f51b5;
}

form {
  margin-top: 10px;
}

.headers-table {
  width: 78%;
  display: inline-flex;
}

.body-textarea {
  margin-top: 10px;
  textarea {
    height: 100px;
  }
}

@mixin xs-devices {
  mat-mdc-tab-group.mainTabGroup { flex-direction: column}
  :host ::ng-deep .mat-vertical-content-container {
    margin-left: 14px !important;
  }

  :host ::ng-deep .mainTabGroup > .mat-mdc-tab-header > .mat-mdc-tab-label-container > .mat-mdc-tab-list {
    padding: unset;
  }

  :host ::ng-deep .mat-mdc-vertical-stepper-header {
    padding: 11px 2px !important;
  }

  :host ::ng-deep .mat-mdc-vertical-content {
    padding: 0 3px 10px 8px !important;
  }
  .form-block-triple {
    width: 100%;
    display: block;
  }

  .form-block-double {
    width: 100%;
    display: block;
  }

  .mat-column-headerValue {
    min-width: unset !important;
  }

  .headers-table {
    width: 100%;
  }
}

.save-and-start-supplier {
  height: unset !important;
  width: unset !important;
  margin: unset !important;
  font-size: 24px !important;
}

@mixin xl-devices {
  mat-tab-group.mainTabGroup { flex-direction: row}
  :host ::ng-deep .mat-mdc-vertical-content-container {
    margin-left: 36px !important;
  }

  :host ::ng-deep .mat-mdc-vertical-stepper-header {
    padding: 24px 24px !important;
  }

  :host ::ng-deep .mainTabGroup > .mat-mdc-tab-header > .mat-mdc-tab-label-container > .mat-mdc-tab-list {
    padding: 0 40px 0 40px;
  }

  :host ::ng-deep .mat-mdc-vertical-content {
    padding: 0 3px 10px 8px !important;
  }
  .form-block-triple {
    width: 78%;
    display: flex;
  }

  .form-block-double {
    width: 100%;
    display: flex;
  }

  .mat-column-headerValue {
    min-width: 500px !important;
  }

  .headers-table {
    width: 78%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  @include xs-devices;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  @include xs-devices;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  @include xs-devices;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  @include xs-devices;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  @include xl-devices;
}

