table {
  width: 100%;
}
.full-width {
  width: 100%;
}
.mat-form-field {
  width: 100% !important;
}
.formBlockWrapper {
  display: flex;
  height: 250px;
}
.formBlockSingle {
  width: 25%;
  display: flex;
  justify-content: space-between
}
.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}

.formBlockTriple {
  width: 78%;
  display: flex;
  justify-content: space-between
}
.formBlockFull {
  width: 100%;
  display: flex;
  justify-content: space-between
}
p {
  margin: 0 auto;
}
.mat-stepper-vertical-line .mat-vertical-content-container .mat-vertical-content {
  margin-top: 6px !important;
}

.mat-column-headerAction {

  width: 100px !important;
  justify-content: center;
  text-align: -webkit-center;
  text-align: center;
}
.mat-column-headerKey {

  width: 200px !important;
}
.mat-column-headerValue {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 600px !important;
  min-width: 500px !important;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 2;
}

.addNewConfig {
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
}

:host ::ng-deep .mainTabGroup > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels {
  flex-direction: column;
}

:host ::ng-deep .mainTabGroup > .mat-tab-header > .mat-tab-label-container > .mat-tab-list {
  padding:0 40px 0 40px;
}

mat-tab-group.mainTabGroup {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

:host ::ng-deep .mat-tab-label-content {
  font-weight: bolder;
}

:host ::ng-deep.mat-tab-label {
  border-bottom: 2px solid  #3f51b5;
}

.loadingArea {
  position: fixed;
  top:50%;
  left:48%;
}
