<div class="mat-elevation-z2" style="margin-bottom: 60px">
  <table mat-table *ngIf="dataSource.rowCount != 0 && !isLoading" [dataSource]="supplierDataSource" multiTemplateDataRows matSort [matSortActive]="sortActive" matSortDirection="{{sortDirection}}" (matSortChange)="sortData($event)" matSortDisableClear>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox color="primary" (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"></mat-checkbox>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="supplierName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Наименование</th>
      <td mat-cell *matCellDef="let row"><a (click)="gotoProductsBySupplier(row)">{{row.supplierName}} <span *ngIf="row.supplierConfigs[0] && row.supplierConfigs[0].prefix" style="font-style: italic; background-color: lightgray; padding: 0 0.3em;">{{row.supplierConfigs[0].prefix}}</span></a></td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Тип</th>
      <td mat-cell *matCellDef="let row">
        <table *ngIf="row.supplierConfigs != null">
          <tr *ngFor="let config of row.supplierConfigs">
            <th>
              <mat-icon class="material-icons-outlined"> {{config.sourceSettings.source == "API" ? "cloud_done" : (config.sourceSettings.source == "MAIL" ? "drafts" : "folder_shared")}}</mat-icon>
              <mat-icon class="material-icons-outlined"> {{config.type == "XML" ? "code": (config.type == "XLSX" ? "table_view": "data_object")}} </mat-icon>
            </th>
          </tr>
        </table>
      </td>
    </ng-container>
    <!--  data fillfillment Column -->
    <ng-container matColumnDef="fullfill">
      <th mat-header-cell *matHeaderCellDef>Данные</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.supplierConfigs != null">
          <div *ngFor="let config of row.supplierConfigs">
            <mat-icon class="material-icons-outlined" *ngIf="config.imageConfig != null && config.imageConfig.images != null">{{config.imageConfig.downloadLocally ? "add_a_photo" : "photo_camera"}}</mat-icon>
            <mat-icon class="material-icons-outlined" *ngIf="config.attributeConfig != null && config.attributeConfig.attributeName != null">{{config.attributeConfig.productAttributeKeys.length > 0 ? "playlist_add" : "toc"}}</mat-icon>
            <mat-icon class="material-icons-outlined" *ngIf="config.packageConfig != null && config.packageConfig.netto != null && config.packageConfig.netto.barcode != null">crop</mat-icon>
            <mat-icon class="material-icons-outlined" *ngIf="config.packageConfig != null && config.packageConfig.packQty != null">inventory_2</mat-icon>
            <mat-icon class="material-icons-outlined" *ngIf="config.documentConfig != null && (config.documentConfig.endDate != null || config.documentConfig.certNumber != null)">file_present</mat-icon>
            <mat-icon class="material-icons-outlined" *ngIf="config.attributeConfig != null && config.attributeConfig.etimFeature != null">explicit</mat-icon>
            <mat-icon class="material-icons-outlined" *ngIf="config.baseSuppConfig != null && (config.baseSuppConfig.country !=null || config.baseSuppConfig?.countryCode != null)">public</mat-icon>
          </div>
        </ng-container>
      </td>
    </ng-container>
    <!-- brands Column -->
    <ng-container matColumnDef="brands">
      <th mat-header-cell *matHeaderCellDef>Бренды</th>
      <td mat-cell *matCellDef="let row">{{ row.brands != null ? row.brands.slice(0, 5).join(', ') : ""}} {{row.brands && row.brands.length > 5 ? " и др." : ''}}
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === row ? null : row); $event.stopPropagation()" *ngIf="row.brands && row.brands.length > 5">
          <mat-icon *ngIf="expandedElement !== row">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === row">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- stat Column -->
    <ng-container matColumnDef="stat.productQty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Номенкулатура</th>
      <td mat-cell *matCellDef="let row">
<!--
        {{ row.stat.productQty != null && row.stat.productQty > 0 ? row.stat.productQty + " / " : ""}} {{ row.stat.productQtyWithCode != null ? row.stat.productQtyWithCode : ""}}
-->
      </td>
    </ng-container>
    <!-- lastImport Column -->
    <ng-container matColumnDef="stat.lastImport">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Последний импорт</th>
      <td mat-cell *matCellDef="let row">
<!--
        {{ row.stat.lastImport | date:'yyyy-MM-dd'}}
-->
      </td>
    </ng-container>
    <!-- ACTIONS Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button class="mat-elevation-z2" matTooltip="Добавить поставщика" [routerLink]="['/supplier-add']">
          <mat-icon>add</mat-icon>
        </button>&nbsp;
        <button mat-icon-button class="mat-elevation-z2" matTooltip="Обновить кол-во товара и бренды" (click)="fixSupplierStat()">
          <mat-icon>build</mat-icon>
        </button>&nbsp;
      </th>
      <td mat-cell *matCellDef="let item">
        <button mat-icon-button class="mat-elevation-z2" matTooltip="Загрузить данные" (click)="fetchItem(item.supplierName, item.id)"><mat-icon>start</mat-icon></button>&nbsp;
        <a mat-icon-button class="mat-elevation-z2" matTooltip="Изменить" style="color: black" [href]="'/supplier-edit/' + item.id"><mat-icon>edit</mat-icon></a>&nbsp;
        <button mat-icon-button class="mat-elevation-z2"  aria-label="expand row" (click)="(expandedElement = expandedElement === item ? null : item); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== item">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === item">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let item" [attr.colspan]="displayedColumns.length">
        <div class="element-detail" [@detailExpand]="item == expandedElement ? 'expanded' : 'collapsed'">
          <div class="element-brands">
<!--
            {{ item.stat.brands != null ? item.stat.brands.join(', ') : ""}}
-->
          </div>

          <div class="element-actions">
            <div style="margin-right: 11px">
              <button mat-icon-button class="mat-elevation-z2" matTooltip="Привязать артикулы" (click)="internalCodeFetch(item.id)"><mat-icon>build</mat-icon></button>&nbsp;
              <button mat-icon-button class="mat-elevation-z2" matTooltip="Скачать товары" (click)="downloadTable('Product', item.id)"><mat-icon>local_offer</mat-icon></button>&nbsp;
              <button mat-icon-button class="mat-elevation-z2" matTooltip="Удалить товары" (click)="confirmDeleteSuppProdDialog(item.id, item.supplierName)"><mat-icon>remove_shopping_cart</mat-icon></button>&nbsp;
              <button mat-icon-button class="mat-elevation-z2" matTooltip="Удалить поставщика"  (click)="confirmDeleteSuppDialog(item.id, item.supplierName)"><mat-icon>delete_forever</mat-icon></button>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row" [class.expanded-row]="expandedElement === element"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

  <mat-card *ngIf="isLoading">
    <div class="tablePlaceholderLine" *ngFor="let i of [].constructor(pageSize)"></div>
  </mat-card>

  <mat-card *ngIf="dataSource.rowCount == 0 && !isLoading">
    По вашему запросу ничего не найдено, попробуйте изменить критерии поиска
  </mat-card>

  <button mat-fab color="primary" class="mat-elevation-z2; floatButton" (click)="fetchSelectedItems()" [class.cdk-visually-hidden]="selection.selected.length == 0" [matTooltip]="'Сбор выбранных ' + selection.selected.length"><mat-icon>restart_alt</mat-icon></button>
</div>

<mat-paginator class="paginator-fixed mat-elevation-z8" [style.visibility]="dataSource.rowCount > 0 ? 'visible' : 'hidden'" [length]="dataSource.rowCount" showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]=[12,24,48,96]></mat-paginator>
