.span-prefix {
  font-style: italic;
  background-color: lightgray;
  padding: 0 0.3em;
}

.mat-column-checkbox {
  width: 50px;
  min-width: 25px;
}

a {
  color:black;
}

.page-container {
  overflow: auto;
}

.mat-column-actions,
.mat-column-supplierName,
.mat-column-type,
.mat-column-stat,
.mat-column-fullfill,
.mat-column-brands {
  word-wrap: break-word !important;
  white-space: unset !important;
  justify-content: center;
  word-break: break-word;
}

.mat-column-actions {
  flex: none;
  min-width: 200px !important;
}

.mat-column-supplierName {
  flex: 0 0 165px !important;
  min-width: 165px !important;
}

.mat-column-type {
  flex: 0 0 90px !important;
  width: 90px !important;
  min-width: 90px;
}

.mat-column-stat {
  flex: 0 0 135px !important;
  width: 135px !important;
}

.mat-column-fullfill {
  flex: 0 0 155px !important;
  width: 155px !important;
  min-width: 155px;
}

.mat-column-brands {
  flex: 0 0 830px !important;
  width: 830px !important;
  min-width: 60px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.element-brands {
  flex: 25%;
  padding: 16px;
  float: left;
}

.element-actions {
  width: 225px !important;
  overflow-wrap: break-word;
  justify-content: space-between;
  word-break: break-word;
  padding: 16px 26px 16px 16px;
  display: flex;
  vertical-align: inherit;
}

.float-button {
  position: fixed !important;
  bottom: 120px;
  right: 8px;
}
