.chip-list {
  width: 100%;
}
.full-width {
  width: 100%;
}
.formBlockTriple {
  width: 73%;
  display: flex;
  justify-content: space-between
}

.actions-div {
  display: flex;
  justify-content: space-between;
}
