.mat-card {
  padding: 12px;
  width: 245px;
  min-height: 100px;
}

.bcode {
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 370px;
}

.packageBadge {
  margin: 18px 5px 0 0;
}

.packageBarcode {
  display: flex;
  justify-content: center;
  align-items: center;
}
