.chip-list {
  width: 100%;
}
.full-width {
  width: 100%;
}

.formArea {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.header-container {
  display: flex;
  justify-content : space-between;
}

.loadingArea {
  position: fixed;
  top:50%;
  left:48%;
}
