.chip-list {
  width: 100%;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.header-container {
  display: flex;
  justify-content : space-between;
  margin-bottom: 10px;
}

form {
  margin-top: 10px;
}
