.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.main {
  position: relative;
}
.actions-div {
  display: flex;
  justify-content: space-between;
}
.information{
  text-align: center;
  margin: 0px 0px;
  height: 40px;
}
.full-width {
  width: 100%;
}
