<div class="main">
  <h3>{{documentProduct?.certTitle == undefined ? "Добавление документа" : "Редактирование документа"}}</h3>

  <div class="inputs">
    <form [formGroup]="form" (ngSubmit)="onSubmitClick()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Название</mat-label>
        <input matInput formControlName="certTitle" name="certTitle" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Номер</mat-label>
        <input matInput formControlName="certNumber" name="certNumber" required>
      </mat-form-field>

      <div class="formBlockFull">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Дата начала</mat-label>
          <input matInput [matDatepicker]="startDate" formControlName="startDate" name="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Дата окончания</mat-label>
          <input matInput [matDatepicker]="endDate" formControlName="endDate" name="endDate" [min]="form.get('startDate').value">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill" class="full-width" *ngIf="documentProduct.type">
        <mat-label>Тип</mat-label>
        <input matInput formControlName="type">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width" *ngIf="!documentProduct.type">
        <mat-label>Тип</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of documentTypesList" [value]="type.descr">{{type.descr}}</mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Ссылки</mat-label>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let url of urlList" (removed)="removeUrl(url)">
              {{url}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addUrl($event)" required>
          </mat-chip-list>
        </mat-form-field>
    </form>

  </div>

  <div mat-dialog-actions class="actions-div">
    <button mat-button mat-dialog-close="" (click)="onCancelClick()" type="button">Отмена</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="onSubmitClick()" [disabled]="form.invalid">Сохранить</button>
  </div>
</div>
