.mat-column-actions,
.mat-column-status {
  word-wrap: break-word !important;
  white-space: unset !important;
  justify-content: center;
  word-break: break-word;
  text-align: center;
}

.mat-column-actions {
  width: 150px !important;
}

.mat-column-status {
  width: 70px !important;
}

.mat-column-select {
  width: 30px;
}

.buttons-container {
  display: flex;
  gap: 8px;
}

.task-disabled,
.task-enabled {
  margin-left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.task-disabled {
  background: #cc2c2c;
}

.task-enabled {
  background: #2ccc2f;
  animation: pulse 2s infinite;
}

.task-enabled:hover {
  animation: none;
}

.header-container {
  display: flex !important;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 255, 82, 0.8);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 255, 82, 0.8);
    box-shadow: 0 0 0 0 rgba(0, 255, 82, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.float-button-container {
  display: grid;
  gap: 2px;
  position: fixed !important;
  bottom: 120px;
  right: 8px;
}
