.attributeFilter-viewport {
  height: 150px;
  /*width: 250px;*/
}

.attributeFilter-item {
  /*height: 70px;*/
  /*word-break: break-word;*/
}

::ng-deep .mat-select-panel.select-long-panel {
  max-height: 500px;
}
.mat-select-panel mat-option.mat-option {
  height: unset;
}

.multiline-mat-option.mat-option {
  white-space: normal;
  line-height: normal;
  height: unset;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

.cards {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.cardsToCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 890px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1300px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1600px) {
  .cards { grid-template-columns: repeat(5, 1fr); }
}
