.attributeFilter-viewport {
  height: 150px;
  /*width: 250px;*/
}

.attributeFilter-item {
  /*height: 70px;*/
  /*word-break: break-word;*/
}

::ng-deep .mat-select-panel.select-long-panel {
  max-height: 500px;
}
.mat-select-panel mat-option.mat-option {
  height: unset;
}

.multiline-mat-option.mat-option {
  white-space: normal;
  line-height: normal;
  height: unset;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}

.cards {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.cardsToCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Product card placeholder */
.card {
  overflow: hidden;
  width: 300px;
  height: 320px;
  padding: 10px 10px 10px 10px !important;
}

.productImage,
.titleContainer,
.cardContentPlaceholder {
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1s shine linear infinite;
}

.productImage {
  height: 250px;
}

.titleContainer {
  height: 48px;
  margin: 4px 0 4px 0;
}

.cardContent{
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 10px;
}

.cardContentPlaceholder {
  width: 46px;
  height: 15px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
/* Product card placeholder end */

@media (min-width: 730px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1065px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1400px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1700px) {
  .cards { grid-template-columns: repeat(5, 1fr); }
}
