<div class="page-container">
  <div class="mat-elevation-z8 full-width" >
    <table mat-table [dataSource]="dataSource">
      <!-- Preview Column -->
      <ng-container matColumnDef="preview" >
        <th mat-header-cell *matHeaderCellDef>Фотографии</th>
        <td mat-cell *matCellDef="let row">

          <ng-template #t [ngTemplateOutlet]="t" let-a [ngTemplateOutletContext]="{ $implicit: 0 }" >
            <div *ngIf="row.thumbnails.length == 0">
              <div class="containerCmain" *ngIf="hoverRowId==row.id">
                <div class="imgWrapper">
                  <img (error)="handleMissingImage($event)" [src]="hoverImage"  class="imgInContainer" />
                </div>

                <div class="containerC">
                  <div *ngFor="let image of row.images; index as i" class="hoverBlockC" (mouseover)="changeImage(row, image)" (click)="openDialog(image)"></div>
                </div>
              </div>
              <div class="containerCmain" *ngIf="hoverRowId!=row.id">
                <div class="imgWrapper">
                  <img (error)="handleMissingImage($event)" [src]="row.images[0]" class="imgInContainer"/>
                </div>
                <div class="containerC">
                  <div *ngFor="let image of row.images; index as i" class="hoverBlockC" (mouseover)="changeImage(row, image)"></div>
                </div>
              </div>
            </div>

            <div *ngIf="row.thumbnails.length > 0">
              <div class="containerCmain" *ngIf="hoverRowId==row.id">
                <div class="imgWrapper">
                  <img [src]="hoverImage"  class="imgInContainer" />
                </div>
                <div class="containerC">
                  <div *ngFor="let thumbnail of row.thumbnails; index as i" class="hoverBlockC" (mouseover)="changeImage(row, thumbnail)" (click)="openDialog(row.localImages[i])"></div>
                </div>
              </div>
              <div class="containerCmain" *ngIf="hoverRowId!=row.id">
                <div class="imgWrapper">
                  <img  [src]="row.thumbnails[0]" class="imgInContainer"/>
                </div>
                <div class="containerC">
                  <div *ngFor="let image of row.thumbnails; index as i" class="hoverBlockC" (mouseover)="changeImage(row, image)"></div>
                </div>
              </div>
            </div>

          </ng-template>

        </td>
      </ng-container>

      <!-- internalCode Column -->
      <ng-container matColumnDef="internalCode">
        <th mat-header-cell *matHeaderCellDef>Артикул</th>
        <td mat-cell *matCellDef="let row"><b>{{row.internalCode}}</b></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Наименование товара</th>
        <td mat-cell *matCellDef="let row">

          <ng-template #t [ngTemplateOutlet]="t" let-a [ngTemplateOutletContext]="{ $implicit: 0 }">
          <div>
            <h4><a href="/product-details/{{row.id}}"><span *ngIf="row.vendor">[{{row.vendor}}]</span> {{row.title}} </a> </h4>
            <p style="font-style: italic"><strong>{{row.vendorId}}&nbsp;<button class="btnAsText" (click)="copyVendorId(row.vendorId)"><mat-icon style="vertical-align:bottom;font-size:18px">content_copy</mat-icon></button></strong></p>
            <p><strong>{{row.netto?.barcode || ""}}</strong></p>
          </div>

          </ng-template>

        </td>
      </ng-container>

      <!-- supplier Column -->
      <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef>Поставщик</th>
        <td mat-cell *matCellDef="let row">{{row.supplierName}}</td>
      </ng-container>

      <!-- ACTIONS Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-button matTooltip="Добавить товар" [routerLink]="['/product-add']">
            <mat-icon>add</mat-icon> Добавить
          </button>
        </th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button matTooltip="Изменить товар" (click)="goToEditItem(item.id)">
            <mat-icon>edit</mat-icon>
          </button>&nbsp;
          <button *ngIf="roles.includes('goodware-admin')" mat-icon-button matTooltip="Удалить товар" (click)="confirmDeleteDialog(item.id, item.title)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
    <mat-paginator [length]="dataSource.rowCount" showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]=[10,20,50,100] aria-label="Страница">
    </mat-paginator>
  </div>
</div>
