<div class="product-cards-container">
  <div class="mat-elevation-z2 selection-container" *ngIf="selectionActive">

    <div class="selected-items-counter">Выбрано {{selectionItems.length}} товаров <button mat-icon-button (click)="showSelectedItems()"><mat-icon>visibility</mat-icon></button></div>

    <div class="selection-actions">
      <div class="toolbox-item">
        <button mat-icon-button matTooltip="Выбрать всё" (click)="selectAll()"><mat-icon>select_all</mat-icon></button>
      </div>

      <div class="toolbox-item">
        <button mat-icon-button matTooltip="Убрать выделение" (click)="deselectAll()"><mat-icon>close</mat-icon></button>
      </div>

      <div class="toolbox-item">
        <button class="full-height" (click)="downloadProductsInXLS()" mat-button><span class="button-text">Выгрузка XLS</span><mat-icon>download</mat-icon></button>
      </div>

      <div class="toolbox-item">
        <button class="full-height" mat-button [matMenuTriggerFor]="downloadImgMenu"><span class="button-text">Скачать фото</span><mat-icon>download</mat-icon></button>
        <mat-menu #downloadImgMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="downloadSinglePhoto"><mat-icon>photo</mat-icon>Первую фотографию</button>
          <button mat-menu-item [matMenuTriggerFor]="downloadArchiveOfPhotos"><mat-icon>photo_album</mat-icon>Коллекцию фотографий</button>
        </mat-menu>

        <mat-menu #downloadSinglePhoto="matMenu">
          <button mat-menu-item (click)="downloadProductsImage(true, null)">JPEG формат</button>
          <button mat-menu-item (click)="downloadProductsImage(null, null)">Оригинальный формат</button>
        </mat-menu>

        <mat-menu #downloadArchiveOfPhotos="matMenu">
          <button mat-menu-item (click)="downloadProductsImage(true, true)">JPEG формат</button>
          <button mat-menu-item (click)="downloadProductsImage(null, true)">Оригинальный формат</button>
        </mat-menu>
      </div>

      <div class="toolbox-item" *ngIf="roles.includes('goodware-admin')">
        <button class="full-height" mat-button (click)="confirmDeleteDialog()"><span class="button-text">Удалить</span><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>

  <div *ngIf="isCardLayout">
    <div class="cards" *ngIf="isLoading">
      <mat-card class="card" *ngFor="let i of [].constructor(pageSize)">
        <div class="product-image-placeholder"></div>
        <div class="title-container-placeholder"></div>
        <div class="card-content-placeholder">
          <div class="card-line-content-placeholder"></div>
          <div class="card-line-content-placeholder"></div>
        </div>
      </mat-card>
    </div>

    <div class="cards" *ngIf="dataSource.rowCount != 0 && !isLoading">
      <app-product-card *ngFor="let product of productsList" [product]="product"></app-product-card>
      <ng-container *ngIf="this.dataSource.pageCountSize < 6">
        <div *ngFor="let i of [].constructor(6 - this.dataSource.pageCountSize)"></div>
      </ng-container>
    </div>

    <mat-card *ngIf="dataSource.rowCount == 0 && !isLoading">
      По вашему запросу ничего не найдено, попробуйте изменить критерии поиска
    </mat-card>
  </div>

  <app-product-export-table [dataSource]="productsList" [pageSize]="pageSize" *ngIf="!isCardLayout"></app-product-export-table>
</div>

<app-mat-paginator-goto class="paginator-fixed mat-elevation-z8" [style.visibility]="dataSource.rowCount > -1 ? 'visible' : 'hidden'" [length]="dataSource.rowCount" showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]=[12,24,48,96] (matPaginatorGoTo)="paginatorChanged($event)" aria-label="Страница"></app-mat-paginator-goto>
