<div class="full-width preview-container">
  <mat-card-title>Предпросмотр товаров <mat-chip *ngIf="preloadedFile"><div style="display: flex"><div class="loaded-file-name">{{preloadedFile.fileName}}</div><strong>.{{preloadedFile.fileType}}</strong></div>
    <button matChipRemove (click)="preloadedFile = null">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-chip></mat-card-title>


  <div *ngIf="!preloadedFile">
    <div class="upload-container" (click)="fileInput.value=''; fileInput.click()" (drop)="onFileChange($event,true)" (dragover)="onDragOver($event)">
      <input #fileInput type="file" accept="application/json,application/xml,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onFileChange($event, false)" class="upload-input"/>
      <mat-icon class="custom-icon-size">note_add</mat-icon>
      <div>
        <span>Выберите файл с товарами</span>
        <small>в формате XML, JSON или XLSX</small>
        <small>или перетащите его в эту зону</small>
      </div>
    </div>
  </div>

  <div *ngIf="preloadedFile">
    <mat-card *ngIf="!isFileLoaded" appearance="outlined" class="mat-elevation-z3 product-preview">
      <mat-spinner class="loading-area"></mat-spinner>
    </mat-card>

    <div class="d-flex swipe-buttons-container">
      <button mat-mini-fab color="primary" (click)="swipeLeftPreview()">
        <mat-icon>navigate_before</mat-icon>
      </button>
<!--
      <button (click)="swipeLeftPreview()"><-</button>
-->
      <div>
        Товар {{productIndex + 1}} из {{previewedProducts.length}}
      </div>
<!--
      <button (click)="swipeRightPreview()">-></button>
-->
      <button mat-mini-fab color="primary" (click)="swipeRightPreview()">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>

    <mat-card *ngIf="isFileLoaded"  appearance="outlined" class="mat-elevation-z3 product-preview">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{previewedProducts[productIndex]?.title}}</mat-card-title>
          <mat-card-subtitle *ngIf="previewedProducts[productIndex]?.titleLong">Полное название {{previewedProducts[productIndex]?.titleLong}}</mat-card-subtitle>
          <img mat-card-lg-image [src]="previewedProducts[productIndex]?.images[0] ? previewedProducts[productIndex]?.images[0] : null"/>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="previewedProducts[productIndex]?.description">
          <mat-card-subtitle><strong>Описание</strong></mat-card-subtitle>
          {{previewedProducts[productIndex]?.description}}
        </div>

        <div *ngIf="previewedProducts[productIndex]?.documents.length > 0">
          <mat-card-subtitle><strong>Документы</strong></mat-card-subtitle>
          <div class="document-grid">
            <div class="document-card" *ngFor="let document of previewedProducts[productIndex]?.documents">
              <app-document-card [document]="document"></app-document-card>
            </div>
          </div>
        </div>


        <div *ngIf="previewedProducts[productIndex]?.attributes.length > 0">
          <mat-card-subtitle><strong>Характеристики</strong></mat-card-subtitle>
          <table>
            <tr *ngFor="let i of previewedProducts[productIndex]?.attributes">
              <td>{{i.attributeName}}</td>
              <td>{{i.objectValue.value}}</td>
            </tr>
          </table>
        </div>

        <div *ngIf="previewedProducts[productIndex]?.netto">
          <mat-card-subtitle><strong>Нетто</strong></mat-card-subtitle>
          <app-package-card [pack]="previewedProducts[productIndex]?.netto"></app-package-card>
        </div>

        <div *ngIf="previewedProducts[productIndex]?.packages.length > 0">
          <mat-card-subtitle><strong>Упаковки</strong></mat-card-subtitle>
          <div class="document-grid">
            <div class="document-card" *ngFor="let package of previewedProducts[productIndex]?.packages">
              <app-package-card [pack]="package"></app-package-card>
            </div>
          </div>
        </div>

      </mat-card-content>

    </mat-card>

    <div *ngIf="previewedProducts[productIndex]">
      <h2>Пример карточки товара</h2>
      <div style="width: 330px">
        <app-product-card [product]="previewedProducts[productIndex]" [previewMode]="true"></app-product-card>
      </div>
    </div>

  </div>


</div>

