.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 550px;
  border: 3px dashed #ababab;
  border-radius: 7px;
  cursor: pointer;

  .upload-input { display:none; }
  .custom-icon-size {
    font-size: 50px;
    height: 50px ;
    width: 50px ;
  }

  small {
    display: block;
  }
}

.product-preview {
  margin-top: 10px;
  width: 585px;
}

.loaded-file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 290px;
}

.loading-area {
  top: 40%;
  left: 43%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.preview-container {
  /*margin-left: 10px;*/
}

.document-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  .document-card {
    width: 270px;
  }
}

.mat-mdc-card-content {
  div {
    margin-top: 10px;
  }
}

.swipe-buttons-container {
  margin-top: 10px;

  .mat-mdc-fab, .mat-mdc-mini-fab {
    box-shadow: unset;
  }

  div {
    font-weight: bold;
    padding: 10px;
  }
}

