.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.main {
  position: relative;
}
.actions-div {
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.formBlockFull {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.header-div {
  display: flex;
  justify-content: space-between;}

:host::ng-deep .mat-tab-header {
  display: none!important;
}

mat-chip {
  max-width: 840px;
}

:host::ng-deep .mat-dialog-content {
  overflow: unset;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
:host::ng-deep .mat-dialog-content app-product-document-edit {
  display: flex;
  flex-direction: column;
  min-height: 1px;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  margin: 5px;
  flex: 50%;
}
