.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.main {
  position: relative;
}
.actions-div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.full-width {
  width: 100%;
}

.formBlockFull {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.header-div {
  display: flex;
  justify-content: space-between;}

:host::ng-deep .mat-tab-header {
  display: none!important;
}

mat-chip {
  max-width: 840px;
}

:host::ng-deep .mat-dialog-content {
  overflow: unset;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}
:host::ng-deep .mat-dialog-content app-product-document-edit {
  display: flex;
  flex-direction: column;
  min-height: 1px;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  margin: 5px;
  flex: 33%;
}

.center-column {
  margin: 5px;
  flex: 60%;
}

.box{
  margin: 5px;
  width: 95%;
  float: left;
/*  box-sizing: border-box;
  position: relative;*/
}

.example-viewport {
  height: 600px;
  width: 100%;
  /*
  border: 1px solid black;
  */
}

.example-item {
  /*height: 50px;*/
}
