.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.main {
  position: relative;
}
.actions-div {
  display: flex;
  justify-content: space-between;
}

.full-width {
  width: 100%;
}

.formBlockFull {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.header-div {
  display: flex;
  justify-content: space-between;}

:host::ng-deep .mat-tab-header {
  display: none!important;
}

mat-chip {
  max-width: 840px;
}

/*
:host ::ng-deep .mat-tab-body-wrapper {
  height: 600px;
}
*/

/*
:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  height: auto;
}
*/
