<div>
  <div mat-dialog-title class="header-div">
    <h3 mat-dialog-title>{{documentProduct?.certTitle == undefined ? "Добавление документа" : "Редактирование документа"}}</h3>
    <div *ngIf="!data.oldDocument">
      <button mat-button (click)="matTabGroup.selectedIndex = 0"><mat-icon>search</mat-icon></button>
      <button mat-button (click)="matTabGroup.selectedIndex = 1"><mat-icon>add</mat-icon></button>
    </div>
  </div>

  <mat-dialog-content>
    <mat-tab-group #matTabGroup animationDuration="0ms">
      <mat-tab *ngIf="!data.oldDocument">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Поиск</mat-label>
          <input matInput>
        </mat-form-field>

        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **
        ** Таблица с документами и их выбор **

      </mat-tab>
      <mat-tab>
        <form [formGroup]="form" (ngSubmit)="onSubmitClick()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Название</mat-label>
            <input matInput formControlName="certTitle" name="certTitle" required>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Номер</mat-label>
            <input matInput formControlName="certNumber" name="certNumber" required>
          </mat-form-field>

          <div class="formBlockFull">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Дата начала</mat-label>
              <input matInput [matDatepicker]="startDate" formControlName="startDate" name="startDate">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Дата окончания</mat-label>
              <input matInput [matDatepicker]="endDate" formControlName="endDate" name="endDate" [min]="form.get('startDate').value">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill" class="full-width" *ngIf="documentProduct?.type">
            <mat-label>Тип</mat-label>
            <input matInput formControlName="type">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width" *ngIf="!documentProduct.type">
            <mat-label>Тип</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of documentTypesList" [value]="type.descr">{{type.descr}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Ссылки</mat-label>
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let url of urlList" (removed)="removeUrl(url)">
                {{url}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addUrl($event)" required>
            </mat-chip-list>
          </mat-form-field>
        </form>

        <mat-card class="mat-elevation-z8" style="margin: 10px">
          <mat-card-title>

            <button mat-button (click)="fileInput.value= ''; fileInput.click()" class="mat-elevation-z2 full-width">
              <mat-icon>cloud_upload</mat-icon> Загрузить
              <input #fileInput type="file" multiple="" accept="image/jpeg, image/jpg, application/pdf" (change)="onDocumentChange($event)"  style="display:none;"/>
            </button>
          </mat-card-title>

          <mat-chip-list>
            <mat-chip *ngFor="let i of preloadDocumentsView">
              <mat-icon *ngIf="i.oldName.split('.')[1] == 'pdf';else pictureIcon">picture_as_pdf</mat-icon>
              <ng-template #pictureIcon><mat-icon>photo_library</mat-icon></ng-template>
                &nbsp;<span>{{i.oldName}}</span>&nbsp;
              <span *ngIf="i.size >= 1000000"> ({{(i.size / (1024*1024)).toFixed(1)}} mb)</span>
              <span *ngIf="i.size >= 1000 && i.size < 1000000"> ({{(i.size / 1024).toFixed(1)}} kb)</span>
              <button matChipRemove (click)="deletePreloadDoc(i.id)"><mat-icon>delete</mat-icon></button>
            </mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-tab>
    </mat-tab-group>

  </mat-dialog-content>

  <mat-dialog-actions>
    <div mat-dialog-actions class="actions-div">
      <button mat-button mat-dialog-close="" (click)="onCancelClick()" type="button">Отмена</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="onSubmitClick()" [disabled]="form.invalid">Сохранить</button>
    </div>
  </mat-dialog-actions>
</div>
