<p>Добавление нового товара</p>

<form>

  <mat-stepper #stepper>
    <mat-step label="Основное">
        <ng-template matStepLabel>Основное</ng-template>

        <mat-form-field appearance="fill" class="form-full-width">
          <mat-label>Наименование</mat-label>
          <input matInput name="title" [(ngModel)]="product.title" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-full-width">
          <mat-label>Полное наименование</mat-label>
          <input matInput name="titleLong" [(ngModel)]="product.titleLong">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-full-width">
          <mat-label>Описание</mat-label>
          <textarea matInput name="description" [(ngModel)]="product.description" style="max-height: 150px"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-full-width">
          <mat-label>Вендор</mat-label>
          <input matInput name="vendor" [(ngModel)]="product.vendor">
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-full-width">
          <mat-label>Страна производства</mat-label>
          <input matInput name="country" [(ngModel)]="product.country">
        </mat-form-field>

      <mat-form-field class=form-full-width appearance="fill">
        <mat-label>ГТД</mat-label>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let item of product.gtd" (removed)="removeGTD(item)">
            {{item}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder=""
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addGTD($event)">
        </mat-chip-list>
      </mat-form-field>

        <div>
          <button mat-button matStepperNext>Далее</button>
        </div>
    </mat-step>
    <mat-step label="Характеристики">

      <div style="height: 500px; overflow-y: auto">
        <table mat-table [dataSource]="attrDataSource" class="mat-elevation-z8; form-full-width">
          <ng-container matColumnDef="idx">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let i = index;let element;">
              {{ i+1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="attributeKey">
            <th mat-header-cell *matHeaderCellDef> Характеристика </th>
            <td mat-cell *matCellDef="let element; let i = index ">
              <mat-form-field *ngIf="attrSelectedRow?.keySupplier == element.keySupplier">
                <mat-label>Целевой атрибут</mat-label>
                <input type="text" matInput aria-label="Поставщик"
                       [formControl]="attributeListCtrl"
                       [matAutocomplete]="auto"
                       (keydown.enter)="updateSelectedSuppAttr(i, element)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onDBAttrSelected()">
                  <mat-option *ngFor="let option of attributeList" [value]="option">
                    {{option.fixed ? "■" : ''}} {{option.etimFeature}} {{option.nameAttribute}} [{{option.supplierName}}]
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="attributeValue">
            <th mat-header-cell *matHeaderCellDef> Значение </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field class="full-width" appearance="standard" *ngIf="attrSelectedRow?.keySupplier == element.keySupplier">
                <mat-label>Значение аттрибута</mat-label>
                <input type="text" matInput aria-label="Поставщик"
                       [formControl]="attributeValuesCtrl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" >
                  <mat-option *ngFor="let option of attributeValues" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <span *ngIf="attrSelectedRow?.keySupplier != element.keySupplier" [style.color]="element.attributeValid ? 'black': 'orangered'">{{element.attributeBDName}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <button mat-icon-button class="mat-elevation-z2" (click)="addProductAttr()">
                <mat-icon>add</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let i = index; let element">
              <ng-container  *ngIf="attrSelectedRow?.keySupplier != element.keySupplier">
                <button mat-icon-button class="mat-elevation-z2" (click)="onSelectRow(element)">
                  <mat-icon>edit</mat-icon>
                </button>&nbsp;
                <!--                <button mat-icon-button class="mat-elevation-z2" (click)="deleteSuppAttr(element.keySupplier)">-->
                <!--                  <mat-icon>delete</mat-icon>-->
                <!--                </button>-->
              </ng-container>
              <button mat-mini-fab color="accent" class="mat-elevation-z2" (click)="updateSelectedSuppAttr(i, element)" *ngIf="attrSelectedRow?.keySupplier == element.keySupplier" [disabled]="attrSelectedRow?.keySupplier == ''">
                <mat-icon>check</mat-icon>
              </button>&nbsp;
              <button mat-icon-button class="mat-elevation-z2" (click)="onSelectRow({})" *ngIf="attrSelectedRow?.keySupplier == element.keySupplier" [disabled]="attrSelectedRow?.keySupplier == ''">
                <mat-icon>close</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="attrTableColumns"></tr>
          <tr mat-row *matRowDef="let i = index; let row; columns: attrTableColumns;"></tr>
        </table>

      </div>
      <div>
        <button mat-button matStepperNext>Далее</button>
      </div>
    </mat-step>
    <mat-step label="Медиа">
      <mat-card>
        <mat-card-subtitle>Фото</mat-card-subtitle>
        <mat-card-content>
            <input formControlName="file" id="file" type="file" class="form-control-file" multiple=""
                   (change)="onFileChange($event)">

            <div *ngFor='let url of imagesToUpload'>
              <img [src]="url" width="200px">
              <button type="button"  (click)="removeImage(url)">Remove</button>
            </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-subtitle>Видео</mat-card-subtitle>
        <mat-card-content>

        </mat-card-content>
      </mat-card>


      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Предпросмотр</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-stepper>

</form>
