
<div class="mat-headline">
  <div style="float:right; margin-right: 10px">
    <button mat-flat-button color="primary" (click)="submitProduct()">Сохранить</button>
  </div>

  <div>
    <span>{{product?.supplierId == undefined ? "Добавление нового товара" : "Редактирование " + product?.title}}</span>
    <strong *ngIf="product.vendorId"> [{{product.vendorId}}]</strong>

  </div>
</div>

<div class="container">

  <div>
    <mat-card style="padding-top: 0">
      <mat-tab-group style="width:465px" animationDuration="0ms">
        <mat-tab  label="Фото">
          <ng-template matTabContent>
            <button mat-button (click)="fileInput.click()" class="mat-elevation-z2" style="margin:10px">
              <mat-icon>cloud_upload</mat-icon>Загрузить
              <input #fileInput type="file" multiple="" accept="image/gif, image/jpeg, image/png, image/jpg" (change)="onFileChange($event)" style="display:none;" />
            </button>

            <div style="max-height: 600px; overflow-y: auto">
              <div class="thumbnail" *ngFor="let img of imagesView" >
                <img [src]="img" style="object-fit: cover;height:200px; width: 200px; margin-left:10px">
                <button (click)="removeImage(img)">X</button>
              </div>
            </div>

          </ng-template>
        </mat-tab>
        <!--        *ngIf="product.image360"-->
        <mat-tab label="Фото 360">
          <ng-template matTabContent>
            <mat-form-field class="form-full-width" appearance="fill">
              <mat-label>Ссылка на фото 360</mat-label>
              <input matInput name="image360" [(ngModel)]="product.image360">
            </mat-form-field>
          </ng-template>
        </mat-tab>

        <mat-tab  label="Видео">
          <ng-template matTabContent>
            <mat-form-field class="form-full-width" appearance="fill">
              <mat-label>Ссылка на видео</mat-label>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let item of product.videos" (removed)="removeVideo(item)">
                  {{item}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder=""
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="addVideo($event)">
              </mat-chip-list>
              <mat-hint><strong> В формате https://www.youtube.com/embed/Код видео</strong></mat-hint>
            </mat-form-field>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>

  <div style="width: 100%">

    <mat-card style="padding-top: 0">
      <mat-tab-group  animationDuration="0ms">
        <mat-tab  label="О товаре">
          <ng-template matTabContent>
            <mat-form-field appearance="fill" class="full-width" *ngIf="!product?.supplierName">
              <mat-label>Поставщик</mat-label>
              <input matInput placeholder=""
                     [formControl]="searchSupplierCtrl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of supplierList" [value]="option">
                  {{option.supplierName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-full-width">
              <mat-label>Наименование</mat-label>
              <input matInput name="title" [(ngModel)]="product.title" required>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-full-width">
              <mat-label>Полное наименование</mat-label>
              <input matInput name="titleLong" [(ngModel)]="product.titleLong">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-full-width">
              <mat-label>Описание</mat-label>
              <textarea matInput name="description" [(ngModel)]="product.description" style="min-height:100px"></textarea>
            </mat-form-field>

            <div class="formBlockDouble">
              <mat-form-field appearance="fill" class="form-full-width">
                <mat-label>Вендор</mat-label>
                <input matInput name="vendor" [(ngModel)]="product.vendor">
              </mat-form-field>&nbsp;

              <mat-form-field appearance="fill" class="form-full-width">
                <mat-label>Вендор ID</mat-label>
                <input matInput name="vendorId" [(ngModel)]="product.vendorId">
              </mat-form-field>
            </div>

            <div class="formBlockDouble">
              <mat-form-field appearance="fill" class="form-full-width">
                <mat-label>Страна производства</mat-label>
                <input matInput name="country" [(ngModel)]="product.country">
              </mat-form-field>&nbsp;
              <mat-form-field appearance="fill" class="form-full-width">
                <mat-label>Код страны</mat-label>
                <input matInput name="countryId" [(ngModel)]="product.countryCode">
              </mat-form-field>
            </div>


            <mat-form-field class="form-full-width" appearance="fill">
              <mat-label>ГТД</mat-label>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let item of product.gtd" (removed)="removeGTD(item)">
                  {{item}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder=""
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="addGTD($event)">
              </mat-chip-list>
            </mat-form-field>

          </ng-template>
        </mat-tab>

        <mat-tab label="Характеристики">
          <ng-template matTabContent>
            <div style="max-height: 500px; overflow-y: auto">


              <table #table mat-table [dataSource]="attrDataSource" class="mat-elevation-z8; form-full-width" >

                <!-- attributeKey Column -->
                <ng-container matColumnDef="attributeKey" appearance="fill" class="full-width">
                  <th mat-header-cell *matHeaderCellDef> Характеристика </th>
                  <td mat-cell *matCellDef="let row">{{row.attributeName}}</td>
                </ng-container>

                <!-- attributeValue Column -->
                <ng-container matColumnDef="attributeValue" appearance="fill" class="full-width">
                  <th mat-header-cell *matHeaderCellDef> Значение </th>
                  <td mat-cell *matCellDef="let row">{{row.value}}</td>
                </ng-container>

                <!-- actions Column -->
                <ng-container matColumnDef="action" appearance="fill" class="full-width">
                  <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button class="mat-elevation-z2" (click)="AddNewRowAttribute()" >
                      <mat-icon>add</mat-icon>
                    </button>
                  </th>
                  <td mat-cell *matCellDef="let row">

                    <button mat-icon-button matTooltip="Редактировать" class="mat-elevation-z2" (click)="editAttrRow(row)">
                      <mat-icon>edit</mat-icon>
                    </button>&nbsp;

                    <button mat-icon-button matTooltip="Удалить" class="mat-elevation-z2" (click)="deleteAttrRow(row)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="attributeColumns; sticky: true" ></tr>
                <tr mat-row *matRowDef="let row; columns: attributeColumns;"></tr>

              </table>


            </div>

          </ng-template>
        </mat-tab>

        <mat-tab  label="Упаковка">
          <ng-template matTabContent>

            <div *ngIf="product.netto">
              <h3>Нетто</h3>
              <app-package-card [pack]="product.netto"></app-package-card>
            </div>
            <div *ngIf="!product.netto">
              <button mat-button class="mat-elevation-z2" style="margin: 5px" (click)="addNewPackage()">Добавить нетто</button>
            </div>


            <table #table mat-table [dataSource]="packDataSource" class="mat-elevation-z8; form-full-width" style="display: table">
              <h3>Упаковки</h3>

              <!-- package Column -->
              <ng-container matColumnDef="package" appearance="fill" class="full-width">
                <th mat-header-cell *matHeaderCellDef> Упаковка </th>
                <td mat-cell *matCellDef="let row">
                  <strong> В упаковке {{row.packQty}}</strong>
                  <app-package-card [pack]="row"></app-package-card>

                </td>
              </ng-container>


              <!-- action Column -->
              <ng-container matColumnDef="action" appearance="fill" class="full-width">
                <th mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button class="mat-elevation-z2" (click)="addNewPackage()"><mat-icon>add</mat-icon></button>
                </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltip="Редактировать" class="mat-elevation-z2" (click)="editPackageRow(row)">
                    <mat-icon>edit</mat-icon>
                  </button>&nbsp;
                  <button mat-icon-button matTooltip="Удалить" class="mat-elevation-z2" (click)="deletePackageRow(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="packageColumns; sticky: true" ></tr>
              <tr mat-row *matRowDef="let row; columns: packageColumns;"></tr>

            </table>
          </ng-template>
        </mat-tab>

        <mat-tab  label="Документы">
          <ng-template matTabContent>

            <table #table mat-table [dataSource]="documentDataSource" class="mat-elevation-z8; form-full-width" style="display: table">

              <!-- title Column -->
              <ng-container matColumnDef="title" appearance="fill" class="full-width">
                <th mat-header-cell *matHeaderCellDef> Документ </th>
                <td mat-cell *matCellDef="let row">
                  <div mat-line><strong>{{row.type}}</strong> <span style="font-style: italic">  ({{row.startDate | date:'dd-MM-yyyy'}} - {{row.endDate | date:'dd-MM-yyyy'}})</span></div>
                  <div mat-line><small>{{row.certTitle}}</small></div>

                </td>
              </ng-container>


              <!-- actions Column -->
              <ng-container matColumnDef="action" appearance="fill" class="full-width">
                <th mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button class="mat-elevation-z2" (click)="AddNewDocument()" >
                    <mat-icon>add</mat-icon>
                  </button>
                </th>
                <td mat-cell *matCellDef="let row">
                  <a mat-icon-button class="mat-elevation-z2" *ngIf="row.url" style="color:black" href="{{row.url}}" target="_blank"><mat-icon>visibility</mat-icon></a>&nbsp;
                  <button mat-icon-button matTooltip="Редактировать" class="mat-elevation-z2" (click)="editDocRow(row)">
                    <mat-icon>edit</mat-icon>
                  </button>&nbsp;
                  <button mat-icon-button matTooltip="Удалить" class="mat-elevation-z2" (click)="deleteDocRow(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="documentColumns; sticky: true" ></tr>
              <tr mat-row *matRowDef="let row; columns: documentColumns;"></tr>

            </table>

          </ng-template>
        </mat-tab>



      </mat-tab-group>
    </mat-card>
  </div>
</div>
