<div class="mat-headline">
  {{product.title}}
  <span style="margin: 0 1.5em;">{{product.vendor}}</span>
  <EM><span style="font-size: small">{{product.vendorId}}</span></EM>
</div>
<div class="mat-body"> {{product.vendor}} </div>

<div class="container">

  <div class="center-panel">
      <app-hover-image-slider [imgList]="product.images"></app-hover-image-slider>
  </div>

  <div class="left-panel">
    <mat-card>
        <!--<mat-card-title>{{product.title}}</mat-card-title>-->
        <mat-card-subtitle style="display: flex; justify-content: space-between;">
          <span>{{product.vendorId}}</span>
          <span>Арт: {{product.internalCode ? product.internalCode : 'отсутствует'}}</span>
        </mat-card-subtitle>

      <mat-card-content>
        <div [innerHTML]="product.description"></div>
      </mat-card-content>
    </mat-card>

<!--    <mat-card style="margin-top: 10px">
      <img *ngFor="let p of product.images" src="{{p}}" class="pic">
      <mat-grid-list cols="4" rowHeight="150px">
        <mat-grid-tile
          *ngFor="let p of product.images">
          <img src="{{p}}" style="max-width:100%; max-height:100%;">
        </mat-grid-tile>
      </mat-grid-list>
      <app-hover-image-slider [imgList]="product.images"></app-hover-image-slider>
    </mat-card>-->

    <mat-card style="margin-top: 10px; max-width: 900px" *ngIf="product.documents && product.documents.length > 0">
      <mat-card-subtitle>Документы</mat-card-subtitle>
      <mat-list>
        <mat-list-item *ngFor="let d of product.documents">
          <a mat-icon-button *ngIf="d.url" href="{{d.url}}" target="_blank"><mat-icon>download</mat-icon></a>
          <mat-icon mat-list-icon>description</mat-icon>
          <div mat-line><strong>{{d.type}}</strong></div>
          <div mat-line>{{d.certId}}</div>
          <div mat-line>{{d.startDate | date:'yyyy-mm-dd'}} - {{d.endDate | date:'yyyy-mm-dd'}}</div>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; ">
      <app-package-card [pack]="product.netto"></app-package-card>
      <app-package-card [pack]="pack" *ngFor="let pack of product.packages"></app-package-card>
    </div>
  </div>



  <div class="right-panel">
    <mat-accordion>
      <!-- Характеристики, позже сделать контрол -->
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Характеристики товара
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="dataSource" class="full-width">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Характеристика
            </th>
            <td mat-cell *matCellDef="let element"> {{element.attributeName}} </td>
          </ng-container>

          <!-- Value Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef>
              Значение
            </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedAttrColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedAttrColumns;"></tr>
        </table>

      </mat-expansion-panel>

    </mat-accordion>

  </div>
</div>




