.container {
  display: flex;
  flex-direction: row;
  flex: 2;
}
.left-panel {
  flex: 0 1 33%;
  margin: 5px
}
.right-panel {
  flex: 0 1 33%;
  margin: 5px
}
.center-panel {
  //flex: 0 1 33%;
  margin: 5px;
  width: 500px;
}
.full-width {
  width: 100%;
}
.pic {
  height: 150px;
  width: auto;
  margin: 0 5px
}
.mat-list .mat-list-item {
  min-height: 20px; /* default is 72px */
}

.mat-card {
  height:auto;
  min-height: 20px;
}

td, th, .mat-line {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
tr.mat-row {
  height: 35px;
}
.mat-line {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
}
::ng-deep .mat-list .mat-list-item .mat-line{
  word-wrap: break-word;
  white-space: pre-wrap;
}

.card {
  margin-top: 15px;
  margin-left: 20px;
}

.modifH2{
  font-weight: bold;
  color:rgba(0,0,0,.54)
}
