.attached-image-container{
  width: auto;
  max-width: 450px;
  min-height: 150px;
  height: auto;
}

.mat-mdc-card{
  display:flex;
  flex-direction: column;
}

.mat-mdc-card-header {
  flex-shrink: 0;
}

.mat-mdc-card-content{
  flex-grow: 1;
  overflow: auto;
}

.mat-mdc-card-actions {
  padding: 0;
  vertical-align: bottom;
}

.mat-mdc-card-avatar {
  height:24px;
  width:24px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
:host::ng-deep .mat-card-header-text {
  margin: 0 6px;
}

:host::ng-deep .mat-mdc-card-subtitle {
  padding-bottom: 0;
  margin-bottom: 0;
}

.document-card {
  min-height: 150px;
  height: auto;

  .card-header {
    display: block;
    .link-button {
      color:black;
      mat-icon {
        vertical-align: middle;
      }
    }
  }

  .document-title {
    background: rgba(255,255,255, 0.5);
    margin-top: 10px;
  }

  .card-low-stripe {
    float:left;
    margin: auto;
    background-color: #ffffffaa;
    padding: 4px 7px;
    border-radius: 14px;
  }
}
