.box{
  min-height: 150px;
}

.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.mat-card-actions {
  padding: 0;
  vertical-align: bottom;
}

.mat-card-avatar {
  height:24px;
  width:24px;
}

:host::ng-deep .mat-card-header-text {
  margin: 0 6px;
}

:host::ng-deep .mat-card-subtitle {
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-low-stripe {
  float:left;
  margin: auto;
  background-color: #ffffffaa;
  padding: 4px 7px;
  border-radius: 14px;
}

.cardHeader {
  display: block;
}

.documentTitle {
  background: rgba(255,255,255, 0.5);
  margin-top: 10px;
}

/*
@media only screen and (max-width: 1210px) {
  !* Compact: *!
  .documentNumber {margin-left: 10px}
  .documentTitle {margin-top: 10px}
  !*
  .box {width: 98%; height: 130px}
  *!
  .cardHeader {display: flex}
}
*/



/* Tablet */
@media only screen and (min-width: 600px) {

}

/* Desktop */
@media only screen and (min-width: 1024px) {

}

