.main {
  position: relative;
}
.actions-div {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 50%;
}

.titleArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filterCard {
  min-width: 400px;
  margin-bottom: 10px;
  max-height: 500px;
}

.cardTitle {
  max-height: 45px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

mat-slider {
  width: 300px;
}

.full-width {
  width: 100%;
}

.mat-form-field .mat-form-field-infix {
  height: 16px;
}

:host::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
   padding-top: 0;
}

.loadingArea {
  overflow: hidden;
  height: 120px;
  padding: 10px 10px 10px 10px !important;
}

.selectedFilters {
  margin-top: 10px;
  max-height: 500px;
}

.mat-chip {
  margin: 2px;
}

.mat-chip-container {
  margin-top: 5px;
}

.removeFilterBtn {
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.mat-card {
  padding: 10px !important;
}

.filterContainer {
  display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 1rem;min-height: 500px;max-height: 700px;
}

.attributeFilter {
  grid-column: span 3;
}

.d-flex {
  display: flex;
  justify-content: space-between
}

.removeAllFiltersBtn {
  height: 30px;
  line-height: 30px;
}

.removeAllFiltersBtn:hover {
  background-color: #f44336;
  color:white;
}

.removeFilterBtn:hover {
  background-color: #f44336;
  color:white;
}
