<mat-form-field class="full-width" appearance="standard">
  <mat-label>Поставщик</mat-label>
  <input type="text" matInput aria-label="Поставщик" (keydown)="keyPressValidation($event)"
         [formControl]="searchSuppliersCtrl"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSupplierSelected()">
    <mat-option *ngFor="let option of supplierList" [value]="option">
      {{option.supplierName}}
    </mat-option>
  </mat-autocomplete>
  <button *ngIf="searchSuppliersCtrl.value" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="onClearSupplierSelection()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
