<div *ngIf="isLoading" class="loading-area">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading">
  <div class="header-container">
    <div class="page-title">
      <span *ngIf="product?.vendor">{{product?.vendor}}</span>
      <span> {{product?.title !== undefined ? product?.title : product.titleLong}}</span>
      <span *ngIf="product?.vendorId"> <button class="copy-vendorId-btn" (click)="copyVendorId(product.vendorId)">[<strong>{{product.vendorId}}</strong>]</button> </span>
      <span *ngIf="product?.isModerated" style="vertical-align: bottom"><mat-icon class="moderated-product-badge" matTooltip="Товар проверен">verified</mat-icon></span>
    </div>
    <div *ngIf="roles.includes('goodware-manager')" class="button-container">
      <button mat-raised-button (click)="goToEdit(productId)">Редактировать</button>
    </div>

    <button color="primary" class="floating-edit-btn" *ngIf="roles.includes('goodware-manager')" mat-mini-fab (click)="goToEdit(productId)"><mat-icon>edit</mat-icon></button>

  </div>

  <mat-card class="category-tree-container" *ngIf="categoryTree.length > 0">
    <mat-card-content class="category-tree-content">
      <a *ngFor="let category of categoryTree; index as i" (click)="goToCategory(category.id)">
        <div>{{category.title}}</div> <mat-icon class="route-icon" *ngIf="categoryTree.length - 1 != i">arrow_right</mat-icon>
      </a>
    </mat-card-content>
  </mat-card>

  <div class="about-product-container">
    <div class="media-product-container">
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-tab-group [ngClass]="{'' : product?.images && product?.localImages && product?.videos}" animationDuration="0ms">
            <mat-tab *ngIf="product?.images || product?.localImages" label="Фото">
              <ng-template matTabContent>
                <div class="img-container">
                  <app-hover-image-slider [imgList]="remoteAndLocalImg"></app-hover-image-slider>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab *ngIf="product?.image360" label="Фото 360">
              <ng-template matTabContent>
                <!--<iframe width="460" height="440" [src]="safeImg360Url" title="360ImageViewer" allowfullscreen></iframe>-->
              </ng-template>
            </mat-tab>

            <mat-tab *ngIf="product?.videos.length >= 1" label="Видео">
              <ng-template matTabContent>
                <iframe width="460" height="440" [src]="selectedSafeVideo" allowfullscreen></iframe>
                <div *ngIf="safeVideoUrl.length > 1" class="video-btn-wrapper">
                  <button mat-flat-button class="mat-elevation-z2 video-btn" *ngFor="let video of safeVideoUrl;let i = index" (click)="selectedSafeVideo = video">
                    {{i+1}}
                  </button>
                </div>

              </ng-template>
            </mat-tab>
          </mat-tab-group>

        </mat-card-content>
      </mat-card>

      <mat-accordion  *ngIf="(product?.netto | json) != '{}'">
        <mat-expansion-panel expanded hideToggle>
          <mat-expansion-panel-header #panelH (click)="panelH._toggle()" style="cursor: default">
            <mat-panel-title>Нетто</mat-panel-title>
            <mat-panel-description><mat-icon>format_size</mat-icon> {{product?.netto?.packQty}} {{product?.netto?.type}}</mat-panel-description>
          </mat-expansion-panel-header>
          <app-package-card [pack]="product?.netto"></app-package-card>
        </mat-expansion-panel>
      </mat-accordion>

      <div style="margin-top: 10px">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let pack of product?.packages">
            <mat-expansion-panel-header [expandedHeight]="'35px'">
              <mat-panel-title>
                <span>{{pack.packQty}}<span *ngIf="pack.type">{{' '}}{{pack.type}}</span> [{{pack.barcode ? pack.barcode : 'Штрихкод отсутствует'}}]</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-package-card [pack]="pack"></app-package-card>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div *ngIf="product?.documents && product?.documents.length > 0" style="margin-top: 10px">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>Документы / Сертификаты</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="cards"><app-document-card *ngFor="let doc of productDocuments" [document]="doc"></app-document-card></div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>

    <div class="spec-product-container">
      <mat-card appearance="outlined" style="margin-right: 0;">
        <mat-card-header>
          <mat-card-subtitle>
            <div class="card-container">
              <h2>О товаре</h2>
              <h4 *ngIf="product?.internalCode">арт. <span style="font-size: 1.5em">{{product.internalCode}}</span></h4>
            </div>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <div [innerHTML]="product?.description"></div>

          <div class="custom-description" *ngIf="product?.customDescription">
            <strong>Описание из 1С</strong>
            <div>{{product.customDescription}}</div>
          </div>
          <ul>
            <li *ngIf="product?.country">Страна производства - {{product.country}} <span *ngIf="product.countryCode">(Код {{product.countryCode}})</span></li>
            <li *ngIf="product?.vendorId">Артикул поставщика - {{product.vendorId}}</li>
            <li *ngIf="product?.vendor">Бренд - {{product.vendor}}</li>
            <li *ngIf="product?.supplierName">Поставщик - {{product.supplierName}}</li>
          </ul>
        </mat-card-content>

      </mat-card>

      <mat-card appearance="outlined" style="margin-top: 10px;" *ngIf="product?.attributes && product?.attributes.length > 0">
        <mat-card-header>
          <mat-card-subtitle><h2>Характеристики</h2></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <table mat-table [dataSource]="dataSource" class="full-width">
            <!-- Etim Column -->
            <ng-container matColumnDef="etim">
              <th mat-header-cell *matHeaderCellDef> Значение </th>
              <td mat-cell *matCellDef="let row">
                <mat-icon *ngIf="row.etimFeature" matTooltip="{{row.etimFeature}}">explicit</mat-icon>
                <mat-icon *ngIf="!row.etimFeature" >{{row.fixed ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Характеристика </th>
              <td mat-cell *matCellDef="let row" [style.color]="!isTypeValid(row.objectValue, row.type) ? 'red' : 'black'"><strong *ngIf="row.type">{{row.type}}</strong> {{row.attributeName}}</td>
            </ng-container>
            <!-- Value Column -->
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef> Значение </th>
              <td mat-cell *matCellDef="let row">
            <span *ngIf="row.type == 'R'">
              <span *ngIf="row.objectValue?.minValue != undefined && row.objectValue?.maxValue != undefined">{{row.objectValue?.minValue + '...' + row.objectValue?.maxValue}}</span>
              <span *ngIf="row.objectValue?.minValue == undefined && row.objectValue?.maxValue == undefined">{{row.objectValue?.value}}</span>
            </span>
                <span *ngIf="row.type == 'L'">
              <span *ngIf="typeofLogicalAttribute(row.objectValue.value) == 'boolean'; else logicalTypeString">{{row.objectValue.value ? 'Да' : 'Нет'}} </span>
              <ng-template #logicalTypeString>{{row.objectValue.value}}</ng-template>
            </span>
                <span *ngIf="row.type !== 'R' && row.type !== 'L'"> {{row.objectValue?.value}} </span>

                <span *ngIf="row.unit" class="unit-mark">{{row.unit}}</span>
              </td>
            </ng-container>

            <!-- action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let item">
                <!--<button mat-icon-button matTooltip="Заменить" (click)="swapItem(item.attributeName, item.attributeId)">
                  <mat-icon>swap_horiz</mat-icon>
                </button>&nbsp;
                <button mat-icon-button matTooltip="Удалить" [disabled]="isDelBtnDisabled" (click)="deleteAttr(item.attributeName, item.attributeId)">
                  <mat-icon>delete</mat-icon>
                </button>-->
              </td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: displayedAttrColumns;"></tr>
          </table>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
