<div class="header-container" style="display: flex; align-items: baseline; justify-content: space-between;">
  <h3>Атрибуты товаров</h3>

  <div class="toolbox-container">

    <div class="toolbox-item">
      <mat-button-toggle-group [formControl]="withFixedAttrSelectorCtrl" class="full-width" (change)="onQueryChanged()">
        <mat-button-toggle [value]=null class="full-width">Все</mat-button-toggle>
        <mat-button-toggle [value]=false class="full-width">Открытые</mat-button-toggle>
        <mat-button-toggle [value]=true class="full-width">Фиксированные</mat-button-toggle>
      </mat-button-toggle-group>
    </div>


    <mat-form-field appearance="standard" class="toolbox-item-xl">
      <mat-label>Поиск</mat-label>
      <input matInput [formControl]="searchQueryCtrl" (keydown.enter)="searchQueryChanged()">
      <button *ngIf="searchQueryCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchQueryClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <app-supplier-autocomplete class="toolbox-item-xl" [cookieSupplier]="selectedSupplier"></app-supplier-autocomplete>
  </div>
  <!--<app-supplier-autocomplete style="width: 50%" (selectedSupplier)="handleChangeSelectedSupplier($event)"></app-supplier-autocomplete>-->

</div>

<app-attribute-index [searchQuery]="searchQuery" [withFixedAttrSelector]="withFixedAttrSelectorCtrl.value"></app-attribute-index>
