<div style="display: flex; justify-content: left;" class="form-full-width">
  <div style="width: 10%;">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let column of displayedColumns" cdkDrag style="padding: 2px; margin-right: 5px">
        <button mat-raised-button [color]="column.isActive ? 'primary': null" (click)="showColumn(column.field)" disableRipple style="width: 100%;">
          <span class="buttonText">{{column.name}}</span>
        </button>
      </div>
      <button mat-raised-button [color]="showNestedTablesHeaders ? 'primary': null" (click)="showNestedTablesHeaders = !showNestedTablesHeaders" style="width: 96%">
        <span class="buttonText">Заголовки внутр. таблиц</span>
      </button>
    </div>
  </div>

  <div style="width: 90%">
    <table mat-table [dataSource]="productDataSource" class="mat-elevation-z2 form-full-width" style="overflow: auto">

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.field">
        <th mat-header-cell *matHeaderCellDef>
          <span *ngIf="column.field !== 'checkbox'">{{column.name}}</span>
          <mat-checkbox color="primary" *ngIf="column.field == 'checkbox'" (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox *ngIf="column.field == 'checkbox'" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null; onChecked(element)" [checked]="selection.isSelected(element)"></mat-checkbox>

          <!--Object Type-->
          <div *ngIf="column.isObjectType && column.isArray">
            <table>
              <thead>
              <tr *ngIf="showNestedTablesHeaders">
                <th *ngFor="let prop of element[column.field][0] | keyvalue">{{prop.key}}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of element[column.field]">
                <td *ngFor="let prop of item | keyvalue" style="padding: 5px">
                  <span *ngIf="prop.key != 'startDate' && prop.key != 'endDate'">{{prop.value}}</span>

                  <span *ngIf="prop.key == 'startDate' || prop.key == 'endDate'">{{ convertToDate(prop.value) | date:'dd.MM.yyyy' }}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!--Array Type-->
          <div *ngIf="column.isArray && !column.isObjectType">
            <img *ngIf="column.field == 'images'" [src]="element[column.field][0] ? element[column.field][0] : element['localImages'][0]" width="100" height="100" style="object-fit: cover">
            <div *ngIf="column.field !== 'images'">
              <div *ngFor="let i of element[column.field]">{{i}}</div>
            </div>
          </div>

          <!--String Type-->
          <div *ngIf="!column.isObjectType && !column.isArray">
            {{element[column.field]}}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="getHeaderColumns()"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
    </table>
  </div>

</div>
