.mat-cell {
  vertical-align: top;
  padding: 8px 8px 8px 0;
}

.mat-row {
  height: auto;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.buttonText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-wrap: initial;
  line-height: 25px;
}
