<div class="document-container">
  <div *ngIf="isCardLayout == true">
    <div class="cards" *ngIf="isLoading">
      <mat-card appearance="outlined" class="card" *ngFor="let i of [].constructor(pageSize)">
        <mat-card-content>
          <div class="title-container-placeholder">
            <div class="icon-placeholder"></div>
            <div class="title-lines">
              <div class="title-placeholder"></div>
              <div class="title-placeholder"></div>
            </div>
          </div>
          <div class="document-content-placeholder"></div>
          <div class="actions-container">
            <div class="document-date-placeholder"></div>
            <div class="action-button-placeholder"></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="cards" *ngIf="dataSource.rowCount != 0 && !isLoading">
      <app-document-card *ngFor="let doc of documentList" [document]="doc" [isChangeable]="true" (selectedDocument)="onDocumentSelected($event)"></app-document-card>
      <ng-container *ngIf="this.dataSource.pageCountSize < 4">
        <div *ngFor="let i of [].constructor(4 - this.dataSource.pageCountSize)"></div>
      </ng-container>
    </div>
  </div>

  <div [style.display]="isCardLayout == true ? 'none' : 'block'">
    <table mat-table [dataSource]="dataSource" matSort [matSortActive]="sortActive" matSortDirection="{{sortDirection}}" (matSortChange)="sortData($event)" matSortDisableClear>

      <!-- preview Column -->
      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <img *ngIf="row.preview" [src]="row?.preview" (error)="handleMissingImage($event)" (click)="openPreviewInDialog(row.preview)" height="120" width="120" style="cursor: pointer; object-fit: contain">
        </td>
      </ng-container>

      <!-- number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>Номер</th>
        <td mat-cell *matCellDef="let row"><small>{{row.certNumber}}</small></td>
      </ng-container>

      <!-- title Column -->
      <ng-container matColumnDef="certTitle">
        <th mat-header-cell *matHeaderCellDef>Наименование</th>
        <td mat-cell *matCellDef="let row">
          <div class="document-content">
            <b>{{row.certTitle ? row.certTitle : row.type ? row.type : 'Документ'}}</b>
            <a class="link-button" *ngIf="row.url || row.file" [href]="row.file ? row.file : row.url" target="_blank">
              <mat-icon>link</mat-icon>
            </a>
          </div>
        </td>
      </ng-container>

      <!-- expiryDate Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Срок действия</th>
        <td mat-cell *matCellDef="let row">
          <div class="document-content">
            <div *ngIf="row.startDate && row.endDate"><strong><i [style.color]="this.isDateValid(this.row.endDate) ? 'black': '#990000'">{{row.startDate | date:'MM.yyyy'}} - {{row.endDate | date:'MM.yyyy'}}</i></strong></div>
          </div>
        </td>
      </ng-container>

      <!-- ACTIONS Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="openDocumentEditorDialog(item)" matTooltip="Изменить документ">
            <mat-icon>edit</mat-icon>
          </button>&nbsp;
          <button  mat-icon-button matTooltip="Удалить документ">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
  </div>

  <mat-card appearance="outlined" *ngIf="dataSource.rowCount == 0 && !isLoading">
    <mat-card-content>По вашему запросу ничего не найдено, попробуйте изменить критерии поиска</mat-card-content>
  </mat-card>
</div>

<mat-paginator [ngStyle]="isPaginatorFixed == true ? {'position': 'fixed'} : {'position': 'absolute'}" class="paginator-fixed mat-elevation-z8" [style.visibility]="dataSource.rowCount > 0 ? 'visible' : 'hidden'" [length]="dataSource.rowCount" showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]=[12,20,50,100] aria-label="Страница"></mat-paginator>
