<div class="header-container">
  <h3>Документы</h3>

  <div style="width: 50%">
    <button mat-stroked-button (click)="addDocumentDialog()"><mat-icon>add</mat-icon> Добавить</button>&nbsp;
    <mat-form-field appearance="standard" style="width: 84%">
      <mat-label>Поиск</mat-label>
      <input matInput [formControl]="searchQueryCtrl" (keydown.enter)="searchQueryChanged(searchQueryCtrl.value)">
      <button *ngIf="searchQueryCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchQueryCtrl.setValue(''); searchQueryChanged('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<mat-card class="mat-elevation-z8">
  <div style="display: inline-block;width: 100%">
    <app-document-card *ngFor="let doc of documentList" [document]="doc" [isChangeable]="true" (selectedDocument)="onDocumentSelected($event)"></app-document-card>
  </div>
  <mat-paginator (page)="handlePageEvent($event)" [length]="totalRecordsLength" [pageSize]="12" [showFirstLastButtons]="true" [pageSizeOptions]="[12, 24, 48]" [pageIndex]="0"></mat-paginator>
</mat-card>
