table {
  width: 100%;
}

.mat-column-preview {
  word-wrap: break-word !important;
  white-space: unset !important;
  text-align: -webkit-center;
  text-align: center;
  width: 150px;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 90px !important;
  width: 90px !important;
  overflow-wrap: break-word;
  justify-content: center;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: -webkit-center;
  text-align: center;
}

.documentContent {
  margin-top: 5px;
}

.cards {
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: grid;
  gap: 1rem;
  width: 100%;
}

.cardsToCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkButton {
  color:black;
  padding: 5px;
}

.linkButton mat-icon {
  vertical-align: middle;
}
