table {
  width: 100%;
}

.mat-column-preview {
  word-wrap: break-word !important;
  white-space: unset !important;
  text-align: -webkit-center;
  text-align: center;
  width: 150px;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 90px !important;
  width: 90px !important;
  overflow-wrap: break-word;
  justify-content: center;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: -webkit-center;
  text-align: center;
}

.documentContent {
  margin-top: 5px;
}

.cards {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.cardsToCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.documentLink {
  color: black;
  text-decoration: underline;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 890px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 1300px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1600px) {
  .cards { grid-template-columns: repeat(4, 1fr); }
}
