<div class="header-container" style="display: flex; align-items: baseline; flex: 1;">

  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Поиск по поставщикам</mat-label>
<!--    <input matInput (keyup)="applySupplierFilter($event)">-->
    <input matInput [formControl]="searchQueryCtrl">
    <button *ngIf="searchQueryCtrl.value" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="onClearSearchQuery()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
<!--  <div style="width: 110px;">
    <mat-spinner diameter="35" *ngIf="dataSource.loading$ | async"></mat-spinner>
  </div>-->

</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort matSortActive="SupplierName" matSortDisableClear matSortDirection="asc">
    <!-- Name Column -->
    <ng-container matColumnDef="SupplierName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Наименование</th>
      <td mat-cell *matCellDef="let row"><a [routerLink]="['/products']" [queryParams]="{supplierId: row.id}">{{row.supplierName}} ({{row.supplierConfigs.prefix}})</a></td>
    </ng-container>
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Тип</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon class="material-icons-outlined" *ngIf="row.sourceSettings">{{row.sourceSettings.source == "API" ? "cloud_done" : (row.sourceSettings.source == "MAIL" ? "drafts" : "folder_shared")}}</mat-icon>
        <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs != null">{{row.supplierConfigs.type == "XML" ? "code" : (row.supplierConfigs.type == "XLSX" ? "table_view" : "data_object")}}</mat-icon>
      </td>
    </ng-container>
    <!--  data fillfillment Column -->
    <ng-container matColumnDef="fullfill">
      <th mat-header-cell *matHeaderCellDef>Данные</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row.supplierConfigs != null">
          <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs.imageConfig != null && row.supplierConfigs.imageConfig.images != null">{{row.supplierConfigs.imageConfig.downloadLocally ? "add_a_photo" : "photo_camera"}}</mat-icon>
          <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs.attributeConfig != null && row.supplierConfigs.attributeConfig.attributeName != null">{{row.supplierConfigs.attributeConfig.productAttributeKeys.length > 0 ? "playlist_add" : "toc"}}</mat-icon>
          <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs.packageConfig != null && row.supplierConfigs.packageConfig.netto != null && row.supplierConfigs.packageConfig.netto.barcode != null">crop</mat-icon>
          <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs.packageConfig != null && row.supplierConfigs.packageConfig.packQty != null">inventory_2</mat-icon>
          <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs.documentConfig != null && (row.supplierConfigs.documentConfig.endDate != null || row.supplierConfigs.documentConfig.certNumber != null)">file_present</mat-icon>
          <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs.attributeConfig != null && row.supplierConfigs.attributeConfig.etimFeature != null">explicit</mat-icon>
          <mat-icon class="material-icons-outlined" *ngIf="row.supplierConfigs.baseSuppConfig != null && (row.supplierConfigs.baseSuppConfig.country !=null || row.supplierConfigs.baseSuppConfig?.countryCode != null)">public</mat-icon>
        </ng-container>
      </td>
    </ng-container>
    <!-- brands Column -->
    <ng-container matColumnDef="brands">
      <th mat-header-cell *matHeaderCellDef>Бренды</th>
      <td mat-cell *matCellDef="let row">{{ row.stat.brands != null ? row.stat.brands.slice(0, 5).join(', ') : ""}} {{row.stat.brands && row.stat.brands.length > 5 ? " и др." : ''}}
        <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === row ? null : row); $event.stopPropagation()" *ngIf="row.stat && row.stat.brands && row.stat.brands.length > 5">
          <mat-icon *ngIf="expandedElement !== row">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === row">keyboard_arrow_up</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- stat Column -->
    <ng-container matColumnDef="Stat.ProductQty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Номенкулатура</th>
      <td mat-cell *matCellDef="let row">{{ row.stat.productQty != null && row.stat.productQty > 0 ? row.stat.productQty + " / " : ""}} {{ row.stat.productQtyWithCode != null ? row.stat.productQtyWithCode : ""}}</td>
    </ng-container>
    <!-- lastImport Column -->
    <ng-container matColumnDef="Stat.lastImport">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Последний импорт</th>
      <td mat-cell *matCellDef="let row">{{ row.stat.lastImport | date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- ACTIONS Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button class="mat-elevation-z2" matTooltip="Добавить поставщика" [routerLink]="['/supplier-add']">
          <mat-icon>add</mat-icon>
        </button>&nbsp;
        <button mat-icon-button class="mat-elevation-z2" matTooltip="Обновить кол-во товара и бренды" (click)="fixSupplierStat()">
          <mat-icon>build</mat-icon>
        </button>&nbsp;
      </th>
      <td mat-cell *matCellDef="let item">

        <button mat-icon-button class="mat-elevation-z2" matTooltip="Загрузить данные" (click)="fetchItem(item.supplierName)">
          <mat-icon>start</mat-icon>
        </button>&nbsp;
<!--        <button *ngIf="item.runParser" mat-icon-button class="mat-elevation-z2" matTooltip="Остановить сбор" (click)="stopFetchItem(item.supplierName)">-->
<!--          <mat-icon>stop</mat-icon>-->
<!--        </button>-->
        <button mat-icon-button class="mat-elevation-z2" matTooltip="Изменить" (click)="editItem(item.id)">
          <mat-icon>edit</mat-icon>
        </button>&nbsp;
        <button mat-icon-button class="mat-elevation-z2"  aria-label="expand row" (click)="(expandedElement = expandedElement === item ? null : item); $event.stopPropagation()">
          <mat-icon *ngIf="expandedElement !== item">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="expandedElement === item">keyboard_arrow_up</mat-icon>
        </button>

      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let item" [attr.colspan]="displayedColumns.length">
        <div class="element-detail"
             [@detailExpand]="item == expandedElement ? 'expanded' : 'collapsed'">

          <div class="element-brands">
<!--            <div style="max-height: 200px; overflow-y: auto">-->
<!--              <ul>-->
<!--                <li *ngFor="let brand of item.stat.brands">{{brand}}</li>-->
<!--              </ul>-->
<!--            </div>-->

            {{ item.stat.brands != null ? item.stat.brands.join(', ') : ""}}
          </div>

          <div class="element-actions">
            <div style="margin-right: 11px">
              <button mat-icon-button class="mat-elevation-z2" matTooltip="Привязать артикулы" (click)="internalCodeFetch(item.id)">
                <mat-icon>build</mat-icon>
              </button>&nbsp;

              <button mat-icon-button class="mat-elevation-z2" matTooltip="Скачать товары" (click)="downloadTable('Product', item.id)">
                <mat-icon>local_offer</mat-icon>
              </button>&nbsp;

              <button mat-icon-button class="mat-elevation-z2" matTooltip="Удалить товары" (click)="confirmDeleteSuppProdDialog(item.id, item.supplierName)">
                <mat-icon>remove_shopping_cart</mat-icon>
              </button>&nbsp;
              <button mat-icon-button class="mat-elevation-z2" matTooltip="Удалить поставщика"  (click)="confirmDeleteSuppDialog(item.id, item.supplierName)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>



        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="element-row"
        [class.example-expanded-row]="expandedElement === element">
        <!--(click)="expandedElement = expandedElement === element ? null : element">-->
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [length]="dataSource.rowCount" showFirstLastButtons [pageSize]="15" [pageSizeOptions]=[10,15,50,100]></mat-paginator>
</div>
