table {
  width: 100%;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: none;
  min-width: 160px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;

  text-align: -webkit-center;
  text-align: center;
}
.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 135px !important;
  min-width: 135px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;
}
.mat-column-type {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 70px !important;
  width: 70px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;
}
.mat-column-stat {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 135px !important;
  width: 135px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;
}
.mat-column-fullfill {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 155px !important;
  width: 155px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;
}
.mat-column-brands {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 830px !important;
  width: 830px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;
}

tr.example-detail-row {
  height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}
.full-width {
  width: 100%;
}
