<div class="header-container" style="display: inline-flex; align-items: center;">
  <h3>Панель администратора &nbsp;</h3>
</div>

<mat-card>
  <mat-card-subtitle>Поставщики</mat-card-subtitle>
    <button mat-button class="mat-elevation-z2" (click)="fetchItem('default')">
      <mat-icon>restart_alt</mat-icon> Запустить сбор всех поставщиков
    </button>&nbsp;
    <button mat-button class="mat-elevation-z2" (click)="fullInit()">
      <mat-icon>sync_problem</mat-icon> Инициализировать БД
    </button>&nbsp;
    <button mat-button class="mat-elevation-z2" (click)="fixSupplierStat()">
      <mat-icon>build</mat-icon> Обновить кол-во товара и бренды
    </button>&nbsp;
    <button mat-button class="mat-elevation-z2" (click)="downloadTable('Supplier')">
      <mat-icon>cloud_download</mat-icon>  Скачать всех
    </button>&nbsp;
</mat-card>
