.formBlockFull {
  width: 100%;
  justify-content: space-between
}

.mat-column-checkbox {
  width: 30px !important;
}

.overflow-div {
  max-height: 600px;
  overflow-y: auto;
  margin-top: 10px
}
.full-width {
  width: 100%;
}
