<span class="page-title">Документы</span>

<div class="toolbox-container">
  <mat-form-field appearance="outline" class="toolbox-item-xl input-form-outline-background full-width">
    <mat-label>Поиск</mat-label>
    <input matInput [formControl]="searchQueryCtrl" (keydown.enter)="searchQueryChanged()">
    <button *ngIf="searchQueryCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchQueryClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="toolbox-items">
    <mat-form-field appearance="outline" class="input-form-outline-background full-width">
      <mat-label>Сортировка</mat-label>
      <select matNativeControl [(ngModel)]="selectedSort" (change)="sortData()">
        <option *ngFor="let option of sortOptions" [ngValue]="option.value">{{option.displayText}}</option>
      </select>
    </mat-form-field>

    <button class="toolbox-button" mat-raised-button matTooltip="Добавить документ" (click)="addDocumentDialog()">
      <mat-icon>add</mat-icon> Добавить
    </button>

    <button class="toolbox-button change-layout-btn" mat-raised-button (click)="isCardLayout = !isCardLayout">
      <mat-icon>{{ isCardLayout ? 'format_list_bulleted' : 'dashboard'}}</mat-icon>
    </button>
  </div>

</div>

<app-document-index [isCardLayout]="isCardLayout" [searchQuery]="searchQuery" [selectedSupplier]="selectedSupplier"  [pageIndex]="pageIndex" [pageSize]="pageSize" [sortActive]="sortActive" [sortDirection]="sortDirection" (pageParams)="onPageParamsChanged($event)" (sortParams)="onSortParamsChanged($event)"></app-document-index>
