<table mat-table [dataSource]="dataSource" class="form-full-width" style="margin-bottom: 60px">
  <!-- rating Column -->
  <ng-container matColumnDef="sourceUnit">
    <th mat-header-cell *matHeaderCellDef>Исходное значение</th>
    <td mat-cell *matCellDef="let row">{{row.sourceUnit}}</td>
  </ng-container>
  <!-- rating Column -->
  <ng-container matColumnDef="targetUnit">
    <th mat-header-cell *matHeaderCellDef>Целевое значение</th>
    <td mat-cell *matCellDef="let row">{{row.targetUnit}}</td>
  </ng-container>
  <!-- rating Column -->
  <ng-container matColumnDef="multiplier">
    <th mat-header-cell *matHeaderCellDef>Множитель</th>
    <td mat-cell *matCellDef="let row">{{row.multiplier}}</td>
  </ng-container>
  <!-- rating Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef><button mat-icon-button (click)="editUnit()"><mat-icon>add</mat-icon></button></th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button (click)="editUnit(row)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteUnit(row)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="paginator-fixed mat-elevation-z8" [style.visibility]="dataSource.rowCount > 0 ? 'visible' : 'hidden'" [length]="dataSource.rowCount" showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]=[10,20,50,100] aria-label="Страница"></mat-paginator>
