table {
  width: 100%;
}
.full-width {
  width: 100%;
}
.mat-form-field {
  width: 100% !important;
}
.formBlockWrapper {
  display: flex;
  height: 250px;
}
.formBlockSingle {
  width: 25%;
  display: flex;
  justify-content: space-between
}
.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.formBlockTriple {
  width: 73%;
  display: flex;
  justify-content: space-between
}
.formBlockFull {
  width: 100%;
  display: flex;
  justify-content: space-between
}
p {
  margin: 0 auto;
}
.mat-stepper-vertical-line .mat-vertical-content-container .mat-vertical-content {
  margin-top: 6px !important;
}

