table {
  width: 100%;
}
.full-width {
  width: 100%;
}
.mat-form-field {
  width: 100% !important;
}
.formBlockWrapper {
  display: flex;
  height: 250px;
}
.formBlockSingle {
  width: 25%;
  display: flex;
  justify-content: space-between
}
.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.formBlockTriple {
  width: 73%;
  display: flex;
  justify-content: space-between
}
.formBlockFull {
  width: 100%;
  display: flex;
  justify-content: space-between
}
p {
  margin: 0 auto;
}
.mat-stepper-vertical-line .mat-vertical-content-container .mat-vertical-content {
  margin-top: 6px !important;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 120px !important;
  width: 120px !important;
  justify-content: center;
  text-align: -webkit-center;
  text-align: center;
}
.mat-column-keySupplier {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 500px !important;
  width: 500px !important;
}
.mat-column-attributeBDName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 600px !important;
  min-width: 600px !important;
}
