.work-with-db-btn-container {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 2rem;
}

.admin-panel-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.title-icon {
  vertical-align: text-top;
}

.action-btn {
  width: 300px;
  margin-bottom: 10px;

  button {
    width: 100%;
  }

  a {
    width: 100%;
    color: black !important;
    background: #FFFFFF;
    a:link { color: black !important;}
    a:visited {color: black !important;}
  }
}

@mixin xs-devices {
  .work-with-db-btn-container {
    grid-template-columns: auto;

    .mat-mdc-raised-button {
      white-space: pre-wrap;
      line-height: unset;
      padding: 0 12px;
      min-height: 45px;
    }*/
  }
  .admin-panel-container {
    grid-template-columns: auto;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  @include xs-devices;
}
