.full-width {
  width: 100%;
}

.workWithDBBtn {
  display: inline-block;
  justify-content: space-between;
}

.workWithDBBtn button:not(:first-child) {
  margin-left: 10px;
}

.header-container {
  display: inline-flex;
  align-items: center;
}
