.full-width {
  width: 100%;
}

.mat-card {
  margin: 15px;
}

.workWithDBBtn {
  display: inline-block;
  justify-content: space-between;
}

.workWithDBBtn button {
  margin: 10px;
}

.header-container {
  display: inline-flex;
  align-items: center;
}
