<span class="modal-title">Импорт данных {{data.supplierName}}</span>
<input type="file" #fileInput accept="application/JSON, text/xml, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="onFileLoaded($event)">
<div class="file-input-container">
  <div class="full-width">
    {{file?.name}}
  </div>
  <div class="import-actions">
    <button mat-raised-button (click)="fileInput.click()" class="load-file-btn"><mat-icon>add</mat-icon></button>
    <button mat-raised-button (click)="file = undefined" [disabled]="file == undefined"><mat-icon>close</mat-icon></button>
  </div>
</div>

<div class="actions-div">
  <button mat-raised-button (click)="dialogRef.close()">Отмена</button>
  <button mat-raised-button color="primary" (click)="importProducts()" [disabled]="file == undefined">Импортировать</button>
</div>
