input {
  display: none;
}

.file-input-container {
  display: flex;
  border: 3px dashed #ababab;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
}

.load-file-btn {
  margin-bottom: 10px;
}

.import-actions {
  width: 80px;
}

.actions-div {
  margin-top: 20px;
}
