<div class="mat-headline">
  <span>{{productId == undefined ? "Добавление нового товара" : "Редактирование товара"}}</span>
  <span *ngIf="selectedSupplier?.supplierName"> поставщика {{selectedSupplier.supplierName}}</span>
  <div style="float:right; margin-right: 10px">
    <button mat-flat-button color="primary" (click)="submitProduct()" [disabled]="!product.vendorId || !product.title"> Сохранить </button>
  </div>
</div>

<mat-card style="padding-top: 0; padding-bottom: 0">
  <div class="headerFormBlock">
    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Наименование</mat-label>
      <input matInput name="title" [(ngModel)]="product.title" required>
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field appearance="standard">
      <mat-label>Идентификатор товара поставщика</mat-label>
      <input matInput name="vendorId" [(ngModel)]="product.vendorId" required minlength="1">
    </mat-form-field>&nbsp;&nbsp;

    <mat-form-field *ngIf="product.internalCode" appearance="standard">
      <mat-label>Артикул Энергомикс</mat-label>
      <input  matInput name="internalCode" [(ngModel)]="product.internalCode" disabled>
    </mat-form-field>
    <div *ngIf="!product.internalCode" style="margin: auto;">
      <button type="button" [disabled]="!internalCodeFetching || !product.vendorId" mat-flat-button (click)="RequestProductInternalCode(productId)">
        Запросить артикул
      </button>
    </div>
  </div>
</mat-card>

<div class="container" style="margin-top: 10px">
    <mat-card style="padding-top: 0;">
      <mat-tab-group style="width:465px" animationDuration="0ms">
        <mat-tab  label="Фото">
          <ng-template matTabContent>
            <button mat-button (click)="fileInput.value= ''; fileInput.click()" class="mat-elevation-z2" style="margin:10px;width:95%">
              <mat-icon>cloud_upload</mat-icon> Загрузить
              <input #fileInput type="file" multiple="" accept="image/gif, image/jpeg, image/png, image/jpg" (change)="onImageChange($event)" style="display:none;"/>
            </button>

            <div style="max-height: 600px; overflow-y: auto;">
              <div class="thumbnail" *ngFor="let img of imagesView; let i = index">
                <img [src]="img" style="object-fit: cover; height:200px; width: 200px;margin-left:10px" (error)="handleMissingImage($event)" class="mat-elevation-z2" (click)="openImageDialog(img)">
                <button (click)="removeImage(i)" class="mat-elevation-z8">&#x2715;</button>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Фото 360">
          <ng-template matTabContent>
            <mat-form-field class="form-full-width" appearance="fill">
              <mat-label>Ссылка на фото 360</mat-label>
              <input matInput name="image360" [(ngModel)]="product.image360">
            </mat-form-field>
          </ng-template>
        </mat-tab>

        <mat-tab  label="Видео">
          <ng-template matTabContent>
            <mat-form-field class="form-full-width" appearance="fill">
              <mat-label>Ссылка на видео</mat-label>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let item of product.videos" (removed)="removeVideo(item)">
                  {{item}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder=""
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="addVideo($event)">
              </mat-chip-list>
              <mat-hint><strong> В формате https://www.youtube.com/embed/Код видео</strong></mat-hint>
            </mat-form-field>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  <div style="width: 100%">

    <mat-card style="padding-top: 0">
      <mat-tab-group animationDuration="0ms">
        <mat-tab  label="О товаре">
          <ng-template matTabContent>
            <div *ngIf="!product?.supplierName">
              <app-supplier-autocomplete *ngIf="isSupplierSingle == false" (isSingle)="isSupplierSingle = $event" class="full-width" (selectedSupplier)="handleChangeSelectedSupplier($event)"></app-supplier-autocomplete>
            </div>
            <mat-form-field *ngIf="product?.supplierName" appearance="fill" class="full-width">
              <mat-label>Поставщик</mat-label>
              <input matInput [value]="product.supplierName" disabled>
            </mat-form-field>
            <div class="formBlockFull">
              <mat-form-field appearance="fill" class="full-width; about-form-field-double">
                <mat-label>Бренд</mat-label>
                <input matInput name="vendor" [(ngModel)]="product.vendor" required>
              </mat-form-field>&nbsp;

              <mat-form-field appearance="fill" class="full-width; about-form-field-double">
                <mat-label>Страна производства</mat-label>
                <input matInput placeholder=""
                       [formControl]="searchCountryCtrl"
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayCountryFn" (optionSelected)="onCountrySelected()">
                  <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
                <button *ngIf="searchCountryCtrl.value" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="onCountryClearSelection()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <mat-form-field appearance="fill" class="form-full-width">
              <mat-label>Полное наименование</mat-label>
              <input matInput name="titleLong" [(ngModel)]="product.titleLong">
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-full-width">
              <mat-label>Описание</mat-label>
              <textarea matInput name="description" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="15"  [(ngModel)]="product.description"></textarea>
            </mat-form-field>

            <mat-form-field class="form-full-width" appearance="fill">
              <mat-label>ГТД</mat-label>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let item of product.gtd" (removed)="removeGTD(item)">
                  {{item}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input placeholder=""
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="true"
                       (matChipInputTokenEnd)="addGTD($event)">
              </mat-chip-list>
            </mat-form-field>

          </ng-template>
        </mat-tab>

        <mat-tab label="Характеристики">
          <ng-template matTabContent>
            <div style="max-height: 500px; overflow-y: auto">
              <table mat-table [dataSource]="attrDataSource" class="mat-elevation-z8; form-full-width">
                <!-- attributeKey Column -->
                <ng-container matColumnDef="attributeKey" class="full-width">
                  <th mat-header-cell *matHeaderCellDef> Характеристика </th>
                  <td mat-cell *matCellDef="let row">{{row.attributeName}}</td>
                </ng-container>
                <!-- attributeValue Column -->
                <ng-container matColumnDef="attributeValue" class="full-width">
                  <th mat-header-cell *matHeaderCellDef> Значение </th>
                  <td mat-cell *matCellDef="let row">{{row.value}}</td>
                </ng-container>
                <!-- actions Column -->
                <ng-container matColumnDef="action" class="full-width">
                  <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button (click)="AddNewRowAttribute()"><mat-icon>add</mat-icon></button>
                  </th>
                  <td mat-cell *matCellDef="let row; let i = index">
                    <button mat-icon-button matTooltip="Редактировать" (click)="editAttrRow(row)"><mat-icon>edit</mat-icon></button>&nbsp;
                    <button mat-icon-button matTooltip="Удалить" (click)="deleteAttrRow(i)"><mat-icon>delete</mat-icon></button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="attributeColumns; sticky: true" ></tr>
                <tr mat-row *matRowDef="let row; columns: attributeColumns;"></tr>
              </table>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab label="Вес и габариты">
          <ng-template matTabContent>

            <div style="padding: 10px 0">
              <div class="formBlockFull">
                <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Штрихкод</mat-label>
                  <input matInput [(ngModel)]="product.netto.barcode" name="barcode" required>
                </mat-form-field>
              </div>

              <div class="formBlockFull">
                <mat-form-field appearance="fill" class="full-width; package-form-field-triple">
                  <mat-label>Тип</mat-label>
                  <input matInput [(ngModel)]="product.netto.type" name="type">
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill" class="full-width; package-form-field-triple">
                  <mat-label>Кол-во в упаковке</mat-label>
                  <input matInput [(ngModel)]="product.netto.packQty" name="packQty" type="number" min="0" pattern="\d*">
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill" class="full-width; package-form-field-triple">
                  <mat-label>Вес</mat-label>
                  <input matInput [(ngModel)]="product.netto.weight" name="weight" type="number" min="0">
                  <span matSuffix>гр</span>
                </mat-form-field>
              </div>

              <div class="formBlockFull">
                <mat-form-field appearance="fill" class="full-width; package-form-field-fourth">
                  <mat-label>Ширина</mat-label>
                  <input matInput [(ngModel)]="product.netto.width" #width name="width" type="number" min="0" step="0.5">
                  <span matSuffix>см</span>
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill" class="full-width; package-form-field-fourth">
                  <mat-label>Высота</mat-label>
                  <input matInput [(ngModel)]="product.netto.height" #height name="height"  type="number" min="0" step="0.5">
                  <span matSuffix>см</span>
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill" class="full-width; package-form-field-fourth">
                  <mat-label>Глубина</mat-label>
                  <input matInput [(ngModel)]="product.netto.depth" #depth name="depth" type="number" min="0" step="0.5">
                  <span matSuffix>см</span>
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill" class="full-width; package-form-field-fourth">
                  <mat-label>Объём</mat-label>
                  <input matInput value="{{Math.round(((width.value * height.value * depth.value) + Eps) * 100) / 100}}" [(ngModel)]="product.netto.volume" name="volume" type="number" min="0">
                  <span matSuffix>см<sup>3</sup></span>
                </mat-form-field>
              </div>
            </div>
          </ng-template>
        </mat-tab>

        <mat-tab  label="Упаковка">
          <ng-template matTabContent>

            <table mat-table [dataSource]="packDataSource" class="mat-elevation-z8; form-full-width">
              <!-- package Column -->
              <ng-container matColumnDef="package" class="full-width">
                <th mat-header-cell *matHeaderCellDef> Упаковка </th>
                <td mat-cell *matCellDef="let row">
                  <app-package-card [pack]="row"></app-package-card>
                </td>
              </ng-container>
              <!-- action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button (click)="addNewPackage()"><mat-icon>add</mat-icon></button>
                </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltip="Редактировать" (click)="editPackageRow(row)"><mat-icon>edit</mat-icon></button>&nbsp;
                  <button mat-icon-button matTooltip="Удалить" (click)="deletePackageRow(row)"><mat-icon>delete</mat-icon></button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="packageColumns; sticky: true" ></tr>
              <tr mat-row *matRowDef="let row; columns: packageColumns;"></tr>
            </table>
          </ng-template>
        </mat-tab>

        <mat-tab label="Документы">
          <ng-template matTabContent>
            <table mat-table [dataSource]="documentDataSource" class="mat-elevation-z8; form-full-width" style="display: table">
              <!-- title Column -->
              <ng-container matColumnDef="title" class="full-width">
                <th mat-header-cell *matHeaderCellDef> Документ </th>
                <td mat-cell *matCellDef="let row">
                  <div mat-line><strong>{{row.type}}</strong> <span style="font-style: italic">  ({{row.startDate | date:'dd-MM-yyyy'}} - {{row.endDate | date:'dd-MM-yyyy'}})</span></div>
                  <div mat-line><small>{{row.certTitle}}</small></div>
                </td>
              </ng-container>
              <!-- actions Column -->
              <ng-container matColumnDef="action" class="full-width">
                <th mat-header-cell *matHeaderCellDef>
                  <button mat-icon-button (click)="AddNewDocument()"><mat-icon>add</mat-icon></button>
                </th>
                <td mat-cell *matCellDef="let row">
                  <a mat-icon-button *ngIf="row.url.length > 0" style="color:black" href="{{row.url}}" target="_blank"><mat-icon>download</mat-icon></a>&nbsp;
                  <button mat-icon-button matTooltip="Редактировать" (click)="editDocRow(row)"><mat-icon>edit</mat-icon></button>&nbsp;
                  <button mat-icon-button matTooltip="Удалить" (click)="deleteDocRow(row)"><mat-icon>delete</mat-icon></button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="documentColumns; sticky: true" ></tr>
              <tr mat-row *matRowDef="let row; columns: documentColumns;"></tr>
            </table>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
