.product-main-fields-container {
  margin-top: 10px;

  .header-form-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .product-title-input {width: 70%}
    .supplier-autocomplete-container {width: 30%}
    .request-internal-code-btn {
      margin: auto;
      width: 220px
    }
  }
}

.about-product-container {
  display: flex;
  flex-direction: row;
  flex: 2;
  width: 100%;
  margin-top: 10px;

  .media-tab-group {
    height:fit-content;
    padding-top: 0;

    .mat-tab-group {
      width:320px;
    }
  }

  .attached-image-container{
    margin: 5px;
    width: 150px;
    height: 150px;
    float: left;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;


    .delete-img-btn {
      position: absolute;
      right: 2px;
      top: 2px;
      line-height: 1;
      z-index: 100;
      padding: 0;
      background: white;
      color: black;
    }

    .image {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        min-height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        object-fit: cover;
      }
    }
  }


  .about-product-detailed-container {
    padding-top: 0;
    height:fit-content;
    width: 100%;

    .about-form-field-double {
      flex:49%;
      width: 100%;
    }
  }
}


.full-width {
  width: 100%;
}

.mat-card {
  margin-right: 10px;
}

.mat-card:last-child {
  margin-right: 0;
}
.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30px !important;
  width: 150px !important;
  text-align: end;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 16px;
}

td, th, .mat-line {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
tr.mat-row {
  height: 35px;
}

.card {
  margin-right: 0;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
}

.formBlockFull {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}


.package-form-field-fourth {
  flex: 23%;
  width: 100%;
}

.package-form-field-triple {
  flex: 32%;
  width: 100%;
}


:host::ng-deep .mat-card-subtitle {
  margin: 0;
}

:host::ng-deep .mat-tab-body-content{
  overflow: hidden;
  min-width: 0;
}

:host::ng-deep mat-tab {
  min-width: 0;
}

.tab-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  span {
    display: grid;
    align-items: center;
    padding: 10px;
  }
}

.header-card {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.mat-card-actions {
  padding: 0;
}

.card {
  height: 140px
}
.cards {
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: grid;
  gap: 1rem;
  width: 100%;
}

.package-card-actions {
  position: absolute;
  bottom: 0;
  right: 16px;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
}

.is-moderated-slider {
  margin-right: 10px;
  height: 100%;
}

@media only screen and (min-width: 910px) {
  .aboutProductGroup {width:100%}
  .product-main-fields-container {width: 100%}
}

@media only screen and (max-width: 910px) {
  .aboutProductGroup {width: calc(100% - 404px)}
  .header-form-block {display: inline-block}
  :host::ng-deep .media-tab-group mat-card {
    padding: 0!important;
  }
}
