<span class="page-title">Конвертированные ед. измерения</span>
<div class="card-top-panel">
  <div class="toolbox-container">
    <mat-form-field appearance="outline" class="toolbox-item-xl input-form-outline-background">
      <mat-label>Поиск</mat-label>
      <input matInput [formControl]="searchQueryCtrl" (keydown.enter)="searchQueryChanged()">
      <button *ngIf="searchQueryCtrl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchQueryClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<app-unit-converter-index [pageIndex]="pageIndex" [pageSize]="pageSize" [searchQuery]="searchQuery"></app-unit-converter-index>
