table {
  width: 100%;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 90px !important;
  width: 90px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;

  text-align: -webkit-center;
  text-align: center;
}
