.mat-column-actions,
.mat-column-username,
.mat-column-name,
.mat-column-role {
  word-wrap: break-word !important;
  white-space: unset !important;
  justify-content: center;
  word-break: break-word;
  text-align: center;
}

.mat-column-actions {
  flex: 0 0 140px !important;
  width: 140px !important;
}

.mat-column-username,
.mat-column-name {
  flex: 0 0 130px !important;
  width: 130px !important;
}

.mat-column-role {
  flex: 0 0 200px !important;
  width: 200px !important;
}
