<div class="main">
  <h3>{{data.oldAttribute?.attributeName == undefined ? "Добавление характеристики" : "Редактирование " + data.oldAttribute?.attributeName}}</h3>

  <mat-spinner *ngIf="isOldAttributeLoading"></mat-spinner>

  <div *ngIf="!isOldAttributeLoading">

    <mat-form-field appearance="fill" class="full-width" style="margin-bottom: 5px">
      <mat-label>Характеристика</mat-label>
      <input matInput placeholder=""
             [formControl]="searchAttributeCtrl"
             [matAutocomplete]="auto">

      <mat-hint *ngIf="selectedAttribute">
        <mat-icon style="vertical-align: top">{{selectedAttribute.isFixed ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon>
        <span *ngIf="selectedAttribute.etimFeature"> [{{selectedAttribute.etimFeature}}] </span>
        {{selectedAttribute.nameAttribute}}
        <span *ngIf="selectedAttribute.unit && selectedAttribute.isFixed" class="unitMark">{{selectedAttribute.unit}}</span>
        <strong>{{selectedAttribute.type}}</strong>
      </mat-hint>

      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onAttributeKeySelected()">
        <mat-option *ngFor="let option of attributesList" [value]="option" > <!--<mat-icon>{{option.etimFeature? 'explicit' : 'crop_square'}}</mat-icon>-->
          <mat-icon>{{option.isFixed ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon>
          <span [ngClass]="{'energomixStamp': option.supplierName == 'Энергомикс', 'supplierStamp': option.supplierName != 'Энергомикс'}">{{option.supplierName}}</span>
          <span *ngIf="option.etimFeature" style="font-style:italic"> [{{option.etimFeature}}]</span>
          <strong *ngIf="option.type"> {{option.type}}</strong>
          <span> {{option.nameAttribute}} </span>
          <span *ngIf="option.unit && option.isFixed" class="unitMark">{{option.unit}}</span>
        </mat-option>
      </mat-autocomplete>
      <button *ngIf="searchAttributeCtrl.value;" (click)="searchAttributeCtrl.setValue('');selectedAttribute = null" matSuffix mat-icon-button aria-label="Clear" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width" *ngIf="data.oldAttribute.type == 'A'">
      <mat-label>Значение</mat-label>
      <input matInput placeholder=""
             [formControl]="attributeValuesCtrl"
             [matAutocomplete]="attributeValuesAuto" [autofocus]="true">
      <mat-autocomplete autoActiveFirstOption #attributeValuesAuto="matAutocomplete"  (optionSelected)="onAttributeValueSelected()">
        <mat-option *ngFor="let option of filteredAttributeValues | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width" *ngIf="data.oldAttribute.type == 'N'">
      <mat-label>Значение</mat-label>
      <input matInput [formControl]="attributeValueNumber" type="number">
    </mat-form-field>

    <div *ngIf="data.oldAttribute.type == 'R'">
      <div *ngIf="!data.oldAttribute.objectValue.minValue && !data.oldAttribute.objectValue.maxValue && data.oldAttribute.objectValue.value">
        <span style="color: red">Значение атрибута задано не корректно, пожалуйста перенестите значения в соответствующие поля. </span>
        <strong>{{data.oldAttribute.objectValue.value}}</strong>
      </div>
      <div style="display: flex">
        <mat-form-field appearance="fill" class="full-width" style="margin-right: 5px">
          <mat-label>Минимальное значение</mat-label>
          <input matInput [formControl]="attributeValueRangeMin" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Максимальное значение</mat-label>
          <input matInput [formControl]="attributeValueRangeMax" type="number">
        </mat-form-field>
      </div>
    </div>

    <mat-button-toggle-group [formControl]="attributeValueLogic" *ngIf="data.oldAttribute.type == 'L'">
      <mat-button-toggle [value]="false">Нет</mat-button-toggle>
      <mat-button-toggle [value]="true">Да</mat-button-toggle>
    </mat-button-toggle-group>


    <div mat-dialog-actions class="actions-div">
      <button mat-button mat-dialog-close (click)="onCancelClick()" type="button">Отмена</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="submitForm()">Сохранить</button>
    </div>
  </div>
</div>
