<div class="main">
  <h3>{{data.oldAttribute?.attributeName == undefined ? "Добавление характеристики" : "Редактирование " + data.oldAttribute?.attributeName}}</h3>

  <mat-spinner *ngIf="isOldAttributeLoading"></mat-spinner>

  <div *ngIf="!isOldAttributeLoading">
    <mat-form-field appearance="fill" class="full-width" >
      <mat-label>Характеристика</mat-label>
      <input matInput placeholder=""
             [formControl]="searchAttributeCtrl"
             [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onAttributeKeySelected()">
        <mat-option *ngFor="let option of attributesList" [value]="option" >
           <mat-icon>{{option.fixed ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon> <mat-icon>{{option.etimFeature? 'explicit' : 'crop_square'}}</mat-icon> {{option.nameAttribute}} <span *ngIf="option.unit && option.fixed">({{option.unit}})</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Значение</mat-label>
      <input matInput placeholder=""
             [formControl]="attributeValuesCtrl"
             [matAutocomplete]="attributeValuesAuto" [autofocus]="true">
      <mat-autocomplete autoActiveFirstOption #attributeValuesAuto="matAutocomplete"  (optionSelected)="onAttributeValueSelected()">
        <mat-option *ngFor="let option of filteredAttributeValues | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div mat-dialog-actions class="actions-div">
      <button mat-button mat-dialog-close (click)="onCancelClick()" type="button">Отмена</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="submitForm()" [disabled]="searchAttributeCtrl.invalid || attributeValuesCtrl.invalid">Сохранить</button>
    </div>
  </div>
</div>
