<!-- Toolbar -->
<!--<div class="toolbar">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon style="font-size: 32px; height: 32px; width: 32px;">{{isServerOffline ? 'report' : 'view_in_ar'}}</mat-icon>
      <h1 matTooltip="{{url}}" [style.color]="isServerOffline ? 'red' : ''"> {{title}} &nbsp;</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-users')" [routerLink]="'/home'"><mat-icon>home</mat-icon> Главная </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-users')" [routerLink]="'/products'"><mat-icon>local_offer</mat-icon> Товары </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/suppliers'"><mat-icon>settings_accessibility</mat-icon> Поставщики </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/attributes'"><mat-icon>list</mat-icon> Атрибуты </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/documents'"><mat-icon>insert_drive_file</mat-icon> Документы </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/log'"><mat-icon>receipt_long</mat-icon> Журнал событий </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/users'"><mat-icon>manage_accounts</mat-icon> Пользователи </a>
      </div>
      <span class="flexExpand"></span>
      <app-auth-toolbar></app-auth-toolbar>
    </mat-toolbar-row>
  </mat-toolbar>
</div>-->

<div class="sidebar" [class.sidebar-close]="!sidebarState">

  <div class="home-header" (mouseover)="logoHover = true" (mouseleave)="logoHover = false">
    <div style="display: flex;">
      <mat-icon class="logo menu-icon-size" *ngIf="!logoHover">view_in_ar</mat-icon>
      <div class="hamburger-menu" *ngIf="logoHover">
        <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="sidebarState"/>
        <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </label>
      </div>
      <div class="no-break-word goodware-title" matTooltip="{{url}}" [style.color]="isServerOffline ? 'yellow' : 'white'" *ngIf="sidebarState"> {{title}}</div>

    </div>
  </div>

  <ul class="nav-links" id="nav-links">
    <ng-container *ngFor="let item of menuItems">
      <li routerLinkActive="active" *ngIf="roles.includes(item.role)" matTooltipPosition="right" [matTooltip]="!sidebarState ? item.name : ''">
        <div class="dropdown-title">
          <a [routerLink]="item.route">
            <mat-icon class="menu-icon-size">{{item.icon}}</mat-icon>
            <span class="link_name" *ngIf="sidebarState">{{item.name}}</span>
          </a>
        </div>
      </li>
    </ng-container>
  </ul>
  <div class="authToolbar" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Выйти' : ''">
    <app-auth-toolbar [sideBarState]="sidebarState"></app-auth-toolbar>
  </div>
</div>
<section class="home-section">
    <router-outlet></router-outlet>
    <app-scroll-to-top></app-scroll-to-top>
</section>





