<div class="sidebar" [class.sidebar-close]="!sidebarState">

  <div class="home-header" (mouseover)="logoHover = true" (mouseleave)="logoHover = false">
    <div style="display: flex;">
      <mat-icon class="logo menu-icon-size" *ngIf="!logoHover">view_in_ar</mat-icon>
      <div class="hamburger-menu" *ngIf="logoHover">
        <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="sidebarState"/>
        <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </label>
      </div>
      <div class="no-break-word goodware-title" matTooltip="{{url}}" [style.color]="isServerOffline ? 'yellow' : 'white'" *ngIf="sidebarState"> {{title}}</div>
    </div>
  </div>

  <div [ngClass]="{'supplier-autocomplete-container': sidebarState, 'supplier-autocomplete-container-collapsed': !sidebarState}">
    <app-supplier-autocomplete [appearance]="'standard'"></app-supplier-autocomplete>
  </div>

  <ul class="nav-links" id="nav-links">
    <li *ngIf="!sidebarState" matTooltipPosition="right" [matTooltip]="!sidebarState && !showSupplierSelector ? 'Выбранный поставщик' : ''">
      <div class="dropdown-title">
        <a (click)="openSupplierSelector()">
          <mat-icon class="menu-icon-size">switch_account</mat-icon>
        </a>

        <div *ngIf="showSupplierSelector" class="supplier-autocomplete-container-clicked-collapsed">
          <div>
            <app-supplier-autocomplete (selectedSupplier)="onSupplierSelected()" [appearance]="'standard'"></app-supplier-autocomplete>
          </div>
        </div>
      </div>
    </li>

    <ng-container *ngFor="let item of menuItems">
      <li routerLinkActive="active" *ngIf="roles.includes(item.role)" matTooltipPosition="right" [matTooltip]="!sidebarState ? item.name : ''" (click)="showSupplierSelector = false">
        <div class="dropdown-title">
          <a [routerLink]="item.route">
            <mat-icon class="menu-icon-size">{{item.icon}}</mat-icon>
            <span class="link_name" *ngIf="sidebarState">{{item.name}}</span>
          </a>
        </div>
      </li>
    </ng-container>
  </ul>
  <div class="authToolbar" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Выйти' : ''">
    <app-auth-toolbar [sideBarState]="sidebarState"></app-auth-toolbar>
  </div>
</div>
<div *ngIf="sidebarState == true" (click)="sidebarState = false" class="toolbar-backdrop"></div>
<div *ngIf="showSupplierSelector == true" (click)="showSupplierSelector = false" class="toolbar-backdrop-supplier-selection"></div>

<section class="home-section" (click)="showSupplierSelector = false">
  <router-outlet></router-outlet>
  <app-scroll-to-top></app-scroll-to-top>
</section>



