<!-- Toolbar -->
<!--<div class="toolbar">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-icon style="font-size: 32px; height: 32px; width: 32px;">{{isServerOffline ? 'report' : 'view_in_ar'}}</mat-icon>
      <h1 matTooltip="{{url}}" [style.color]="isServerOffline ? 'red' : ''"> {{title}} &nbsp;</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-users')" [routerLink]="'/home'"><mat-icon>home</mat-icon> Главная </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-users')" [routerLink]="'/products'"><mat-icon>local_offer</mat-icon> Товары </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/suppliers'"><mat-icon>settings_accessibility</mat-icon> Поставщики </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/attributes'"><mat-icon>list</mat-icon> Атрибуты </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/documents'"><mat-icon>insert_drive_file</mat-icon> Документы </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/log'"><mat-icon>receipt_long</mat-icon> Журнал событий </a>
        <a mat-button routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" [routerLink]="'/users'"><mat-icon>manage_accounts</mat-icon> Пользователи </a>
      </div>
      <span class="flexExpand"></span>
      <app-auth-toolbar></app-auth-toolbar>
    </mat-toolbar-row>
  </mat-toolbar>
</div>-->

<div class="sidebar" [class.sidebar-close]="!sidebarState">

  <div class="home-header" (mouseover)="logoHover = true" (mouseleave)="logoHover = false">
    <div style="display: flex;">
      <mat-icon class="logo menu-icon-size" *ngIf="!logoHover">view_in_ar</mat-icon>
      <div class="hamburger-menu" *ngIf="logoHover">
        <input type="checkbox" id="checkbox-hamburger-menu" [(ngModel)]="sidebarState"/>
        <label class="label-hamburger-menu" for="checkbox-hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </label>
      </div>
      <div class="no-break-word goodware-title" matTooltip="{{url}}" [style.color]="isServerOffline ? 'yellow' : 'white'" *ngIf="sidebarState"> {{title}}</div>

    </div>
  </div>

  <ul class="nav-links" id="nav-links">

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-users')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Главная' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/home'">
          <mat-icon class="menu-icon-size">home</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Главная</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-users')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Товары' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/products'">
          <mat-icon class="menu-icon-size">local_offer</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Товары</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Поставщики' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/suppliers'">
          <mat-icon class="menu-icon-size">settings_accessibility</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Поставщики</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Атрибуты' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/attributes'">
          <mat-icon class="menu-icon-size">list</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Атрибуты</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Документы' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/documents'">
          <mat-icon class="menu-icon-size">insert_drive_file</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Документы</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Журнал событий' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/log'">
          <mat-icon class="menu-icon-size">receipt_long</mat-icon>
          <span class="link_name no-break-word" *ngIf="sidebarState">Журнал событий</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Пользователи' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/users'">
          <mat-icon class="menu-icon-size">manage_accounts</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Пользователи</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Задачи' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/tasks'">
          <mat-icon class="menu-icon-size">task</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Задачи</span>
        </a>
      </div>
    </li>

    <li routerLinkActive="active" *ngIf="roles.includes('goodware-admin')" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Панель администратора' : ''">
      <div class="dropdown-title">
        <a [routerLink]="'/admin'">
          <mat-icon class="menu-icon-size">admin_panel_settings</mat-icon>
          <span class="link_name" *ngIf="sidebarState">Панель администратора</span>
        </a>
      </div>
    </li>
  </ul>
  <li class="authToolbar" matTooltipPosition="right" [matTooltip]="!sidebarState ? 'Выйти' : ''">
    <app-auth-toolbar [sideBarState]="sidebarState"></app-auth-toolbar>
  </li>
</div>
<section class="home-section">
    <router-outlet></router-outlet>
    <app-scroll-to-top></app-scroll-to-top>
</section>





