<mat-card class="card mat-elevation-z3">
  <div class="card-action-layer">

    <div class="card-action-container">
      <button mat-mini-fab color="primary" class="action-item" [style.visibility]="selected ? 'visible': ''">
        <mat-checkbox color="primary" [ngModel]="selected" (change)="onChecked($event)"></mat-checkbox>
      </button>
      <a *ngIf="roles.includes('goodware-manager');" mat-mini-fab color="primary" class="mat-elevation-z2 action-item" [href]="'product-edit/' + product.id">
        <mat-icon>edit</mat-icon>
      </a>
    </div>
  </div>

  <div class="img-container">
    <div *ngIf="!isImageLoaded" class="image-placeholder"></div>
    <app-hover-image-slider [style.visibility]="isImageLoaded ? 'visible': 'collapse'" [imgList]="product.images" [imgListThumb]="product.thumbnails" (onLoad)="imageLoaded($event)"></app-hover-image-slider>
  </div>
  <span class="internal-code copy-string" *ngIf="product.internalCode" (click)="copyString(product.internalCode)">{{product.internalCode}}</span>

  <h4 class="title-container">
    <a [href]="'product-details/' + product.id" matTooltip="{{product.title}}" matTooltipShowDelay="1000"> <span class="title">{{product.title}}</span> </a>
  </h4>

  <span class="card-content" [style.justify-content]="product.vendor ? 'space-between' : 'flex-end'">
    <strong class="vendor-string" *ngIf="product.vendor" matTooltip="Вендор товара" matTooltipPosition="right">{{product.vendor}}</strong>
    <strong class="copy-string" *ngIf="product.vendorId" (click)="copyString(product.vendorId)">{{product.vendorId}}</strong>
  </span>
</mat-card>
