<mat-card class="card mat-elevation-z3"  (mouseover)="mouseOver = true" (mouseleave)="mouseOver = false">
  <div class="cardTop">

    <div style="display: grid; row-gap: 10px">
      <mat-checkbox style="margin: auto" [(ngModel)]="selected" (click)="onChecked()" [style.visibility]="mouseOver || selected ? 'visible': 'hidden'"></mat-checkbox>

      <a mat-mini-fab class="mat-elevation-z2" [href]="'product-edit/' + product.id" [style.visibility]="mouseOver ? 'visible': 'hidden'">
        <mat-icon>edit</mat-icon>
      </a>

      <a mat-mini-fab class="mat-elevation-z2" (click)="confirmDeleteDialog(product.id, product.title)" [style.visibility]="mouseOver ? 'visible': 'hidden'">
        <mat-icon>delete</mat-icon>
      </a>
    </div>
  </div>

<!--  <div class="supplierNameContainer" [style.visibility]="mouseOver ? 'visible': 'hidden'">
    <strong class="supplierName">{{product.supplierName}}</strong>
  </div>-->
  <div style="height: 250px;">
    <div *ngIf="!isImageLoaded" class="imagePlaceholder"></div>
    <app-hover-image-slider [style.visibility]="isImageLoaded ? 'visible': 'collapse'" [imgList]="product.images.length > 0 ? product.images : product.localImages" [imgListThumb]="product.thumbnails" (onLoad)="imageLoaded($event)"></app-hover-image-slider>
  </div>
  <span class="internalCode copyString" *ngIf="product.internalCode" (click)="copyString(product.internalCode)">{{product.internalCode}}</span>

  <h4 class="titleContainer">
    <a [href]="'product-details/' + product.id"> <span class="title">{{product.title}}</span> </a>
  </h4>

  <span class="cardContent" [style.justify-content]="product.vendor ? 'space-between' : 'flex-end'">
    <strong style="cursor: help" *ngIf="product.vendor" matTooltip="Вендор товара" matTooltipPosition="right">{{product.vendor}}</strong>
    <strong class="copyString" *ngIf="product.vendorId" (click)="copyString(product.vendorId)">{{product.vendorId}}</strong>
  </span>
</mat-card>
