<mat-card class="box" style="cursor: pointer;" (click)="openDocumentEditorDialog()">
  <div class="add-document"><mat-icon>add</mat-icon></div>
</mat-card>

<mat-card class="box" *ngFor="let doc of documentsView">
  <mat-card-header>
    <div mat-card-avatar><mat-icon>picture_as_pdf</mat-icon></div>
    <mat-card-subtitle><strong style="color:black">{{doc.type}}</strong> №{{doc.certNumber}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <small>
      <div>Наименование: {{doc.certTitle}}</div>
      <div>Срок действия: <span style="font-style: italic">{{doc.startDate | date:'dd.MM.yyyy'}} - {{doc.endDate | date:'dd.MM.yyyy'}}</span></div>
    </small>
  </mat-card-content>

  <mat-card-actions align="end">
    <a mat-icon-button *ngIf="doc.url" style="color:black" href="{{doc.url}}" target="_blank"><mat-icon>remove_red_eye</mat-icon></a>&nbsp;
    <button mat-icon-button (click)="openDocumentEditorDialog(doc)"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button (click)="deleteDocRow(doc)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>

<!--

<table mat-table [dataSource]="documentDataSource" class="mat-elevation-z8; form-full-width" style="display: table">
  &lt;!&ndash; title Column &ndash;&gt;
  <ng-container matColumnDef="title" class="full-width">
    <th mat-header-cell *matHeaderCellDef> Документ </th>
    <td mat-cell *matCellDef="let row">
      <div mat-line><strong>{{row.type}}</strong> <span style="font-style: italic">  ({{row.startDate | date:'dd-MM-yyyy'}} - {{row.endDate | date:'dd-MM-yyyy'}})</span></div>
      <div mat-line><small>{{row.certTitle}}</small></div>
    </td>
  </ng-container>
  &lt;!&ndash; actions Column &ndash;&gt;
  <ng-container matColumnDef="action" class="full-width">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button (click)="openDocumentEditorDialog()"><mat-icon>add</mat-icon></button>
    </th>
    <td mat-cell *matCellDef="let row">
      <a mat-icon-button *ngIf="row.url" style="color:black" href="{{row.url}}" target="_blank"><mat-icon>download</mat-icon></a>&nbsp;
      <button mat-icon-button matTooltip="Редактировать" (click)="openDocumentEditorDialog(row)"><mat-icon>edit</mat-icon></button>&nbsp;
      <button mat-icon-button matTooltip="Удалить" (click)="deleteDocRow(row)"><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="documentColumns; sticky: true" ></tr>
  <tr mat-row *matRowDef="let row; columns: documentColumns;"></tr>
</table>
-->
