<mat-spinner *ngIf="isDocumentsLoading"></mat-spinner>
<div *ngIf="!isDocumentsLoading" class="tab-panel mat-elevation-z2">
  <span>К товару прикреплено {{documentsView.length}} док.</span>
  <button mat-button (click)="openDocumentEditorDialog()"><mat-icon>add</mat-icon> Добавить</button>
</div>
<div class="cards">
  <app-document-card *ngFor="let doc of documentsView" [document]="doc" [isChangeable]="isChangeable" [isSelectable]="isSelectable" (selectedDocument)="onDocumentSelected($event)"></app-document-card>
  <ng-container *ngIf="documentsView.length < 3">
    <div *ngFor="let i of [].constructor(3 - documentsView.length)"></div>
  </ng-container>
</div>
