.mat-mdc-card{
  display:flex;
  flex-direction: column;
}

.mat-mdc-card-header {
  flex-shrink: 0;
}

.mat-mdc-card-content{
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 0;
}

.mat-mdc-card-actions {
  padding: 0;
}

.mat-mdc-card-avatar {
  height:24px;
  width:24px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
:host::ng-deep .mat-card-header-text {
  margin: 0 6px;
}

:host::ng-deep .mat-mdc-card-subtitle {
  padding-bottom: 0;
}

.card-low-stripe {
  margin: auto;
  background-color: #ffffffaa;
  padding: 4px 7px;
  border-radius: 14px;
}

.cardHeader {
  display: block;
}

@media only screen and (max-width: 900px) {
  /* Compact: */
  .cardHeader {display: flex}
  :host::ng-deep .mat-mdc-card-subtitle { padding: 0}
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  :host::ng-deep .mat-card-header-text { margin: 0; }
}

.cards {
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  display: grid;
  gap: 1rem;
  width: 100%;
}

.cardsToCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px
}

.tab-panel span {
  display: grid;
  align-items: center;
  padding: 10px;
}
