.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 0;
}

.mat-card-actions {
  padding: 0;
}

.mat-card-avatar {
  height:24px;
  width:24px;
}

:host::ng-deep .mat-card-header-text {
  margin: 0 6px;
}

:host::ng-deep .mat-card-subtitle {
  padding-bottom: 0;
}

.card-low-stripe {
  margin: auto;
  background-color: #ffffffaa;
  padding: 4px 7px;
  border-radius: 14px;
}

.cardHeader {
  display: block;
}

@media only screen and (max-width: 900px) {
  /* Compact: */
  .cardHeader {display: flex}
  :host::ng-deep .mat-card-subtitle { padding: 0}
  :host::ng-deep .mat-card-header-text { margin: 0; }
}

.cards {
  margin: 1px;
  display: grid;
  gap: 1rem;
}

.cardsToCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabPanel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px
}

.tabPanel span {
  display: grid;
  align-items: center;
  padding: 10px;
}

/* Screen larger than 600px? 1 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(1, 1fr); }
}

/* Screen larger than 1280? 2 columns */
@media (min-width: 1280px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 1670? 3 columns */
@media (min-width: 1670px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

