<h2>Поставщик «{{supplierName}}»</h2>
<form (ngSubmit)="PostData()" method="POST">
  <div class="sticky-div">
    <div>
      <mat-checkbox type="checkbox" name="connectionCheck" [(ngModel)]="connectionCheck">Подключение</mat-checkbox>
    </div>
    <div>
      <mat-checkbox type="checkbox" name="suppcodeCheck" [(ngModel)]="suppcodeCheck">Сопоставление по коду поставщика
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox type="checkbox" name="productCheck" [(ngModel)]="productCheck">Товар</mat-checkbox>
    </div>
    <div>
      <mat-checkbox type="checkbox" name="attrCheck" [(ngModel)]="attrCheck">Атрибуты</mat-checkbox>
    </div>
    <div>
      <mat-checkbox type="checkbox" name="docsCheck" [(ngModel)]="docsCheck">Документы</mat-checkbox>
    </div>
    <div>
      <mat-checkbox type="checkbox" name="nettParamCheck" [(ngModel)]="nettParamCheck">Базовые параметры Netto
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox type="checkbox" name="packCheck" [(ngModel)]="packCheck">Упаковка</mat-checkbox>
    </div>
    <div>
      <!-- <mat-checkbox type="checkbox" name="categCheck" [(ngModel)]="categCheck">Категория</mat-checkbox> -->
    </div>
    <div>
      <mat-checkbox type="checkbox" name="dictionaryCheck" [(ngModel)]="dictionaryCheck">Словарь</mat-checkbox>
    </div>
    <button mat-raised-button color="success" type="submit" class="submit-button">Сохранить<mat-icon>add_circle_outline</mat-icon></button>
  </div>
  <div class="main">
    <mat-card *ngIf="connectionCheck" class="example-card">
      <mat-card-header>

        <mat-card-title id="connection">Подключение</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field appearance="fill">
          <mat-label>Источник</mat-label>
          <mat-select [(ngModel)]="body?.sourceSettings.source" name="source">
            <mat-option value="API">API</mat-option>
            <mat-option value="FTP">FTP</mat-option>
            <mat-option value="MAIL">MAIL</mat-option>
            <mat-option value="FILE">FILE</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Url или ссылка на целевой файл</mat-label>
          <input matInput placeholder="Url или ссылка на целевой файл" name="urlList"
            [(ngModel)]="body?.sourceSettings.urlList">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Имя целевого файла в архиве</mat-label>
          <input matInput placeholder="Имя целевого файла в архиве" name="fileName"
            [(ngModel)]="body?.sourceSettings.fileName">
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Тип запроса</mat-label>
          <mat-select name="methodType" [(ngModel)]="body?.sourceSettings.methodType">
            <mat-option value="GET">GET</mat-option>
            <mat-option value="POST">POST</mat-option>
            <mat-option value="BINARY">BINARY</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Multipart</mat-label>
          <mat-select  [(ngModel)]="body?.sourceSettings.multipart" name="multipart">
            <mat-option>Отметить если нужно передавать Body как Multipart</mat-option>
            <mat-option [value]="true">Multipart Form Body</mat-option>
            <mat-option [value]="false">RAW Body</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Тип файла</mat-label>
          <mat-select [(ngModel)]="body?.supplierConfigs.type" name="type">
            <mat-option value="JSON">JSON</mat-option>
            <mat-option value="XML">XML</mat-option>
            <mat-option value="XLSX">XLSX</mat-option>
            <mat-option value="CSV">CSV</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Очистка XML Namespace</mat-label>
          <mat-select [(ngModel)]="body?.supplierConfigs.stripXMLNamespace" name="stripXMLNamespace">
            <mat-option>Очистка XML Namespace</mat-option>
            <mat-option [value]="true">Очистить</mat-option>
            <mat-option [value]="false">Не менять</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Кодировка файла</mat-label>
          <input matInput placeholder="UTF-8 (По умолчанию)" name="fileEncoding"
            [(ngModel)]="body?.supplierConfigs.fileEncoding">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Стартовая страница постарничного запроса</mat-label>
          <input matInput placeholder="По умолчанию 0" name="startPage" [(ngModel)]="body?.sourceSettings.startPage">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Кол-во записей на странице запроса</mat-label>
          <input matInput placeholder="Источник" name="countPage" [(ngModel)]="body?.sourceSettings.countPage">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Header запроса</mat-label>
          <input matInput placeholder="[{'HeaderName': '...', 'HeaderValue': '...'}]" name="sourceSettings.header"
            [(ngModel)]="body?.sourceSettings.header">
          <mat-hint></mat-hint>
        </mat-form-field>

        <p *ngIf="body?.sourceSettings.body">
          <mat-form-field appearance="outline">
            <mat-label>Body запроса</mat-label>
            <input matInput placeholder="Применимо при POST запросе" name="sourceSettings.body" [(ngModel)]="body?.sourceSettings.body">
            <mat-hint></mat-hint>
          </mat-form-field>

      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="suppcodeCheck" class="example-card">
      <mat-card-header>

        <mat-card-title>Сопоставление по коду поставщика</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Вендор ID</mat-label>
          <input matInput placeholder="Url или ссылка на целевой файл" name="vendorId"
            [(ngModel)]="body?.supplierConfigs.baseConfig.vendorId">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Проверка Вендор ID !Редактировать</mat-label>
          <input matInput placeholder="Введите артикль без префикса для проверки" name="prefixValue"
            [(ngModel)]="body?.supplierConfigs.baseConfig.prefixValue">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Префикс</mat-label>
          <input matInput placeholder="" name="prefix" [(ngModel)]="body?.supplierConfigs.prefix">
        </mat-form-field>

      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="productCheck" class="example-card">
      <mat-card-header>

        <mat-card-title>Товар</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Основной каталог (либо шапка документа)</mat-label>
          <input matInput placeholder="" name="startTag" [(ngModel)]="body?.supplierConfigs.startTag">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Название</mat-label>
          <input matInput placeholder="" name="title" [(ngModel)]="body?.supplierConfigs.baseConfig.title">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Полное название</mat-label>
          <input matInput placeholder="" name="titleLong" [(ngModel)]="body?.supplierConfigs.baseConfig.titleLong">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Описание</mat-label>
          <input matInput placeholder="" name="description" [(ngModel)]="body?.supplierConfigs.baseConfig.description">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Брэнд</mat-label>
          <input matInput placeholder="" name="brand" [(ngModel)]="body?.supplierConfigs.baseConfig.brand">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>URL для изображений</mat-label>
          <input matInput placeholder="" name="imageUrl" [(ngModel)]="body?.supplierConfigs.imageConfig.imageUrl">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Префикс для изображений (базовый Image URL)</mat-label>
          <input matInput placeholder="" name="supplierImageBaseUrl"
            [(ngModel)]="body?.supplierConfigs.imageConfig.supplierImageBaseUrl">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Скачивать изображения</mat-label>
          <mat-select [(ngModel)]="body?.supplierConfigs.imageConfig.downloadLocally"
            name="downloadLocally">
            <mat-option [value]="true">Да</mat-option>
            <mat-option [value]="false">Нет</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Каталог фото URL</mat-label>
          <input matInput placeholder="" name="imageStartTag" [(ngModel)]="body?.supplierConfigs.imageConfig.imageStartTag">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Фото</mat-label>
          <input matInput placeholder="" name="images" [(ngModel)]="body?.supplierConfigs.imageConfig.images">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Фото 360</mat-label>
          <input matInput placeholder="" name="image360" [(ngModel)]="body?.supplierConfigs.baseConfig.image360">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Видео</mat-label>
          <input matInput placeholder="" name="videos" [(ngModel)]="body?.supplierConfigs.baseConfig.videos">
        </mat-form-field>

      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="attrCheck" class="example-card">
      <mat-card-header>

        <mat-card-title>Атрибуты</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>URL к API атрибутов</mat-label>
          <input matInput placeholder="Ссылка на получнеие характеристик" name="attributesURL"
            [(ngModel)]="body?.supplierConfigs.attributeConfig.attributesURL">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Стартовый каталог атрибутов</mat-label>
          <input matInput placeholder="например: XML - param / JSON - characteristics/characteristic"
            name="attributesStartTag" [(ngModel)]="body?.supplierConfigs.attributeConfig.attributesStartTag">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field appearance="outline">
          <mat-label>Название</mat-label>
          <input matInput placeholder="например: XML - @name / JSON - name" name="attributeName"
            [(ngModel)]="body?.supplierConfigs.attributeConfig.attributeName">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Единица измерения</mat-label>
          <input matInput placeholder="" name="unit" [(ngModel)]="body?.supplierConfigs.attributeConfig.unit">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Тип</mat-label>
          <input matInput placeholder="" name="attributeConfig.type"
            [(ngModel)]="body?.supplierConfigs.attributeConfig.type">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Значение</mat-label>
          <input matInput placeholder="" name="attributeConfig.value" [(ngModel)]="body?.supplierConfigs.attributeConfig.value">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>ETIM Характеристика</mat-label>
          <input matInput placeholder="" name="etimFeature"
            [(ngModel)]="body?.supplierConfigs.attributeConfig.etimFeature">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>ETIM значение</mat-label>
          <input matInput placeholder="" name="etimValue" [(ngModel)]="body?.supplierConfigs.attributeConfig.etimValue">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>ETIM единица измерения</mat-label>
          <input matInput placeholder="" name="etimUnit" [(ngModel)]="body?.supplierConfigs.attributeConfig.etimUnit">
        </mat-form-field>

      </mat-card-content>

    </mat-card>

    <mat-card *ngIf="docsCheck" class="example-card">

      <mat-card-header>
        <mat-card-title>Документы</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>URL к API атрибутов</mat-label>
          <input matInput placeholder="" name="documentsURL" [(ngModel)]="body?.supplierConfigs.documentConfig.documentsURL">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Стартовый каталог атрибутов</mat-label>
          <input matInput placeholder="" name="documentsStartTag" [(ngModel)]="body?.supplierConfigs.documentConfig.documentsStartTag">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field appearance="outline">
          <mat-label>Тип</mat-label>
          <input matInput placeholder="" name="documentConfig.type" [(ngModel)]="body?.supplierConfigs.documentConfig.type">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Ссылка</mat-label>
          <input matInput placeholder="" name="documentConfig.url" [(ngModel)]="body?.supplierConfigs.documentConfig.url">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Сертификат ID</mat-label>
          <input matInput placeholder="" name="certId" [(ngModel)]="body?.supplierConfigs.documentConfig.certId">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Сертифицирующая орг.</mat-label>
          <input matInput placeholder="" name="certOrganizDescr" [(ngModel)]="body?.supplierConfigs.documentConfig.certOrganizDescr">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Номер аккр. сертифицирующей орг.</mat-label>
          <input matInput placeholder="" name="certOrganizNumber" [(ngModel)]="body?.supplierConfigs.documentConfig.certOrganizNumber">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Сертификат номер</mat-label>
          <input matInput placeholder="" name="certNumber" [(ngModel)]="body?.supplierConfigs.documentConfig.certNumber">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Дата начала</mat-label>
          <input matInput placeholder="" name="startDate" [(ngModel)]="body?.supplierConfigs.documentConfig.startDate">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Дата окончания</mat-label>
          <input matInput placeholder="" name="endDate" [(ngModel)]="body?.supplierConfigs.documentConfig.endDate">
        </mat-form-field>

      </mat-card-content>

    </mat-card>

    <mat-card *ngIf="nettParamCheck" class="example-card">
      <mat-card-header>

        <mat-card-title>Базовые параметры Netto</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Штрихкод</mat-label>
          <input matInput placeholder="" name="netto.barcode" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.barcode">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Тип (Название)</mat-label>
          <input matInput placeholder="" name="netto.type" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.type">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Высота, см (Длина)</mat-label>
          <input matInput placeholder="" name="netto.height" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.height">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Ширина, см</mat-label>
          <input matInput placeholder="" name="netto.width" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.width">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Глубина, см</mat-label>
          <input matInput placeholder="" name="netto.depth" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.depth">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Вес, гр</mat-label>
          <input matInput placeholder="" name="netto.weight" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.weight">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Объём, см<sup>3</sup></mat-label>
          <input matInput placeholder="" name="netto.volume" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.volume">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Кол-во в базовой упаковке</mat-label>
          <input matInput placeholder="" name="netto.packQty" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.packQty">
        </mat-form-field>

        <h4>Раземеры формата ШxВxГ</h4>
        <div class="example-conainer" style="display:flex;">
          <p class="grouP">
            <mat-form-field appearance="outline">
              <mat-label>Таг</mat-label>
              <input matInput placeholder="" name="dimensions.tagName" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.dimensions.tagName">
            </mat-form-field>
          </p>
          <p class="grouP">
            <mat-form-field appearance="outline" style="width:200px;">
              <mat-label></mat-label>
              <input matInput placeholder="Разделитель" name="dimensions.format"
                [(ngModel)]="body?.supplierConfigs.packageConfig.netto.dimensions.format">
              <mat-hint>Разделитель / или х (ШxВxГ или Ш/В/Г)</mat-hint>
            </mat-form-field>
          </p>
          <p class="grouP">
            <mat-form-field appearance="outline">
              <mat-label>Множитель</mat-label>
              <input type="number" matInput placeholder="" name="multiplier" [(ngModel)]="body?.supplierConfigs.packageConfig.netto.dimensions.multiplier">
            </mat-form-field>
            </p>
        </div>
      </mat-card-content>

    </mat-card>

    <mat-card *ngIf="packCheck" class="example-card">
      <mat-card-header>

        <mat-card-title>Упаковка</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>URL к API упаковки</mat-label>
          <input matInput placeholder="" name="packagesURL" [(ngModel)]="body?.supplierConfigs.packageConfig.packagesURL">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Стартовый каталог упаковки</mat-label>
          <input matInput placeholder="" name="packagesStartTag" [(ngModel)]="body?.supplierConfigs.packageConfig.packagesStartTag">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field appearance="outline">
          <mat-label>Штрихкод</mat-label>
          <input matInput placeholder="" name="packageConfig.barcode" [(ngModel)]="body?.supplierConfigs.packageConfig.barcode">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Тип (Название)</mat-label>
          <input matInput placeholder="" name="packageConfig.type" [(ngModel)]="body?.supplierConfigs.packageConfig.type">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Высота, см (Длина)</mat-label>
          <input matInput placeholder="" name="packageConfig.height" [(ngModel)]="body?.supplierConfigs.packageConfig.height">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Ширина, см</mat-label>
          <input matInput placeholder="" name="packageConfig.width" [(ngModel)]="body?.supplierConfigs.packageConfig.width">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Глубина, см</mat-label>
          <input matInput placeholder="" name="packageConfig.depth" [(ngModel)]="body?.supplierConfigs.packageConfig.depth">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Вес, гр</mat-label>
          <input matInput placeholder="" name="packageConfig.weight" [(ngModel)]="body?.supplierConfigs.packageConfig.weight">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Объём, см<sub>3</sub></mat-label>
          <input matInput placeholder="" name="packageConfig.volume" [(ngModel)]="body?.supplierConfigs.packageConfig.volume">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Кол-во в упаковке, шт</mat-label>
          <input matInput placeholder="" name="packageConfig.packQty" [(ngModel)]="body?.supplierConfigs.packageConfig.packQty">
        </mat-form-field>

      </mat-card-content>

    </mat-card>

    <mat-card *ngIf="dictionaryCheck" class="custom-card example-card" style="width:1200px;">
      <mat-card-content>
        <h2 style="text-align:center;">Словарь</h2>
        <table cellspacing="5" id="attTable">
          <tr>
            <th>Поставщик</th>
            <th>База данных</th>
            <th>Множитель</th>
            <th>
              <button mat-raised-button color="success" (click)="OnAdd()" type="button">
                <mat-icon>add_circle_outline
                </mat-icon>
              </button>
            </th>
          </tr>
          <tr *ngFor="let item of body?.supplierConfigs.attributeConfig.productAttributeKeys; let i = index" id="tr-{{i}}">
            <td>
              <mat-form-field appearance="outline" class="table-input">
                <mat-label>Поставщик</mat-label>
                <input matInput placeholder="" name="{{item.keySupplier}}" [(ngModel)]="item.keySupplier"
                  [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" style="width:500px;">
                <mat-label>База данных</mat-label>
                <input matInput placeholder="" name="attributeBDName" [(ngModel)]="item.attributeBDName"
                  (ngModelChange)="UpdateAutocomplete($event)" [ngModelOptions]="{standalone: true}"
                  [matAutocomplete]="auto" (click)="FillAutoComplete()">

                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of attributes" [value]="option.nameAttribute">
                    <span *ngIf="option.fixed" class="fixed">{{option.nameAttribute}} | {{option.supplierName}} | {{option.rating}}</span>
                    <span *ngIf="!option.fixed" class="notfixed">{{option.nameAttribute}} | {{option.supplierName}} | {{option.rating}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" style="width:100px;">
                <mat-label>Множитель</mat-label>
                <input matInput placeholder="" name="multiplier{{i}}" [(ngModel)]="item.multiplier" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </td>
            <td class="td-delete">
              <button mat-raised-button color="warn" (click)="OnDelete(i)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </table>
      </mat-card-content>

    </mat-card>

     <!-- <mat-card *ngIf="categCheck" class="example-card">
      <mat-card-header>

        <mat-card-title>Категория</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form-field appearance="outline">
          <mat-label>Стартовый каталог категории</mat-label>
          <input matInput placeholder="" name="CategoriesProduct" [(ngModel)]="body?.supplierConfigs.categoriesProduct">
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Категория</mat-label>
          <input matInput placeholder="" name="Barcode" [(ngModel)]="body?.supplierConfigs.packages.barcode">
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field appearance="fill">
          <mat-label>
            <Каталог подкатегории>
          </mat-label>
          <mat-select>
            <mat-option value="type">Тип</mat-option>
            <mat-option value="link">Ссылка</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Подкатегория</mat-label>
          <mat-select>
            <mat-option value="type">Тип</mat-option>
            <mat-option value="link">Ссылка</mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>

    </mat-card> -->
    <!-- <button type="submit"></button> -->
  </div>
</form>
