.header {
  margin-bottom: 10px;
  display: flex !important;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding-bottom: 5px;
}

.selected-item {
  background: lightgray;
  border-radius: 15px;
  padding: 10px;
  height: 85px;
}

.remove-item {
  float: right;
  cursor: pointer;
  font-size: 19px;
  line-height: 15px;
  height: 19px;
  width: 19px;
}

.remove-item:hover {
  color: #f44336;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.img-container {
  height: 60px;
  width: 60px;
  margin-right: 5px;
  background: white;

  img {
    object-fit: cover;
  }
}

.title-container {
  height: 60px;
  width: 100%;

  .title-text {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-height: 14px;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}

.int-code-vendorid-container {
  margin-top: 5px;
}

@mixin xs-devices {
  .wrapper {
    display: block;

    .selected-item {
      margin-bottom: 5px;
    }
  }

  .button-text {
    display: none;
  }
}

@mixin s-devices {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin m-devices {
  .product-cards-container {
    .selection-container {
      display: flex;
    }
  }

  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@mixin l-devices {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@mixin xl-devices {
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  @include xs-devices;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  @include s-devices;
}

/* Medium devices (landscape tablets, 850px and up) */
@media only screen and (min-width: 850px) {
  @include m-devices;
}

/* Large devices (laptops/desktops, 1155px and up) */
@media only screen and (min-width: 1155px) {
  @include l-devices;
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  @include xl-devices;
}

