<div class="header">
    <h4 style="margin: 12px">Выбранные товары</h4>
  <button disableRipple mat-button (click)="clearAll()">Очистить список <mat-icon>delete</mat-icon></button>
</div>

<mat-dialog-content>
  <div class="wrapper">
    <div *ngFor="let item of selectedItems" class="selectedItem">
      <span>{{item.vendorId}}</span>
      <mat-icon style="float: right; cursor: pointer; font-size: 20px" (click)="deleteSelectItem(item.id)">delete</mat-icon>
    </div>
  </div>
</mat-dialog-content>


