.header {
  margin-bottom: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding-bottom: 5px;
}

.selected-item {
  background: lightgray;
  border-radius: 15px;
  padding: 10px;
  height: 15px;
  line-height: 15px;
}

.remove-item {
  float: right;
  cursor: pointer;
  font-size: 19px;
  line-height: 15px;
  height: 19px;
  width: 19px;
}

.remove-item:hover {
  color: #f44336;
}
