.mat-column-key {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 500px !important;
  width: 500px !important;
}
.mat-column-value {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 600px !important;
  min-width: 500px !important;
}
.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  justify-content: center;
  text-align: -webkit-center;
  text-align: center;
}

.full-width {
  width: 100%;
}

.tableDiv {
  max-height: 500px;
  overflow-y: scroll;
  overflow: auto;
  width: 100%;
}

.dictionaryTable {
  margin-bottom: 10px;
  width: 100%;
}
