<div class="table-container" #scrollable>
  <table mat-table #attrTable [dataSource]="configDictionary" class="dictionary-table" *ngIf="dictionaryType == 'attribute'">
  <ng-container matColumnDef="idx">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let i = index;let element;">
      <span [style.color]="element.attributeIdBD ? 'black' : 'red'">{{i+1}}</span>&nbsp;
    </td>
  </ng-container>

  <ng-container matColumnDef="keySupplier">
    <th mat-header-cell *matHeaderCellDef> Атрибут поставщика </th>
    <td mat-cell *matCellDef="let i = index; let element" (click)="selectedRow?.id != i ? onSelectRow(element, i) : ''">
      <mat-form-field class="full-width" *ngIf="selectedRow?.id == i">
        <mat-label>Атрибут в файле поставщика</mat-label>
        <input type="text" matInput [value]="element.keySupplier"
               (keydown.enter)="updateSelectedValue(i, element)"
               (keyup)="element.keySupplier=$any($event.target['value'])" required (keydown.escape)="onSelectedRowClose(element, i, attrTable)"><!--NOT WORKING IN STRICT MODE-->
      </mat-form-field>
      <span *ngIf="selectedRow?.id != i">{{element.keySupplier}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="attributeBDName">
    <th mat-header-cell *matHeaderCellDef> Наш атрибут </th>
    <td mat-cell *matCellDef="let i = index; let element" (click)="selectedRow?.id != i ? onSelectRow(element, i) : ''">
      <mat-form-field class="attribute-bd-name-input" *ngIf="selectedRow?.id == i">
        <mat-label>Целевой атрибут</mat-label>
        <input type="text" matInput aria-label="Поставщик"
               [formControl]="attributeListCtrl"
               [matAutocomplete]="auto"
               (keydown.enter)="updateSelectedValue(i, element)"
               (keydown.escape)="onSelectedRowClose(element, i, attrTable)">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" panelWidth="auto" (optionSelected)="onDBValueSelected()">
          <mat-option *ngFor="let option of attributeList" [value]="option">
            <mat-icon>{{option.isFixed ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon>
            <span [ngClass]="{'energomixStamp': option.supplierName == 'Энергомикс', 'supplierStamp': option.supplierName != 'Энергомикс'}">{{option.supplierName}}</span>
            <span *ngIf="option.etimFeature" class="etimFeature-span"> [{{option.etimFeature}}]</span>
            <strong *ngIf="option.type"> {{option.type}}</strong>
            <span> {{option.nameAttribute}} </span>
            <span *ngIf="option.unit && option.isFixed" class="unit-mark">{{option.unit}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="multiplier-input" *ngIf="selectedRow?.id == i">
        <mat-label>Множитель</mat-label>
        <input matInput type="text"
               [formControl]="unitConverterListCtrl"
               [matAutocomplete]="multiplierAuto">
        <mat-autocomplete #multiplierAuto="matAutocomplete" panelWidth="auto" [displayWith]="displayFnUnit" (optionSelected)="onUnitConverterSelected(element)">
          <mat-option *ngFor="let option of unitConverterList" [value]="option">
            <span> <span class="unit-mark">{{option.multiplier}}</span> {{option.sourceUnit}}<mat-icon>arrow_forward</mat-icon>{{option.targetUnit}} </span>

          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <span *ngIf="selectedRow?.id != i" [style.color]="element.attributeValid ? 'black': 'orangered'">{{element.attributeBDName}} <strong *ngIf="element.convertId">[Множ. {{element.convertId}}]</strong></span>
    </td>

  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>
      <button mat-icon-button class="mat-elevation-z2" (click)="addSuppAttr(attrTable)">
        <mat-icon>add</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let i = index; let element">
      <ng-container *ngIf="selectedRow?.id != i">
        <!--        <button mat-icon-button class="mat-elevation-z2" (click)="onSelectRow(element, i, config)">
                  <mat-icon>edit</mat-icon>
                </button>&nbsp;-->
        <button mat-icon-button class="mat-elevation-z2" (click)="deleteTableLine(i, attrTable)">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
      <!--    <button mat-mini-fab color="primary" class="mat-elevation-z2" (click)="addNewAttr()" *ngIf="attrSelectedRow?.id == i">
            <mat-icon>add</mat-icon>
          </button>&nbsp;-->
      <div *ngIf="selectedRow?.id == i" class="buttons-container">
        <button mat-mini-fab color="accent" class="mat-elevation-z2" (click)="updateSelectedValue(i, element)" [disabled]="selectedRow?.keySupplier == ''">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button class="mat-elevation-z2" (click)="onSelectedRowClose(element, i, attrTable)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef=" attrTableColumns; sticky:true"></tr>
  <tr mat-row *matRowDef="let i = index; let row; columns: attrTableColumns;"></tr>
 </table>

  <table mat-table #categoryTable [dataSource]="configDictionary" class="dictionary-table" *ngIf="dictionaryType == 'category'">
    <ng-container matColumnDef="idx">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let i = index;let element;">
        <span>{{i+1}}</span>&nbsp;
      </td>
    </ng-container>

    <ng-container matColumnDef="keySupplier">
      <th mat-header-cell *matHeaderCellDef> Категория поставщика </th>
      <td mat-cell *matCellDef="let i = index; let element" (click)="selectedRow?.id != i ? onSelectRow(element, i) : ''">

        <mat-form-field class="full-width" appearance="fill"  *ngIf="selectedRow?.id == i">
          <mat-label>Категория в файле поставищка</mat-label>

            <input matInput placeholder="Введите значение..."
                   [matChipInputFor]="categoryKeyChipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addElementKeyValue($event, i)"
                   (keydown.escape)="onSelectedRowClose(element, i, categoryTable)">
        </mat-form-field>
        <mat-chip-grid #categoryKeyChipList aria-label="Категория в файле поставищка">
          <mat-chip-row [value]="element.keySupplier" *ngFor="let value of element?.keySupplier" (removed)="removeCategory(value, i)">
            {{value}}
            <button matChipRemove *ngIf="selectedRow?.id == i">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>


<!--
        <div *ngIf="selectedRow?.id != i"><span>{{element.keySupplier != null ? element.keySupplier.slice(0, element.keySupplier.length).join(', ') : ""}}</span></div>
-->

       <!-- <mat-form-field class="full-width" *ngIf="selectedRow?.id == i">
          <mat-label>Категория в файле поставщика</mat-label>
          <input type="text" matInput [value]="element.keySupplier"
                 (keydown.enter)="updateSelectedValue(i, element)"
                 (keyup)="element.keySupplier=$any($event.target['value'])" required (keydown.escape)="onSelectedRowClose(element, i, categoryTable)">&lt;!&ndash;NOT WORKING IN STRICT MODE&ndash;&gt;
        </mat-form-field>
        <span *ngIf="selectedRow?.id != i">{{element.keySupplier}}</span>-->
      </td>
    </ng-container>

    <ng-container matColumnDef="categoryId">
      <th mat-header-cell *matHeaderCellDef> Наша категория </th>
      <td mat-cell *matCellDef="let i = index; let element" (click)="selectedRow?.id != i ? onSelectRow(element, i) : ''">
        <mat-form-field class="attribute-bd-name-input" *ngIf="selectedRow?.id == i">
          <mat-label>Целевая категория</mat-label>
          <input type="text" matInput aria-label="Поставщик"
                 [formControl]="categoryListCtrl"
                 [matAutocomplete]="auto"
                 (keydown.enter)="updateSelectedValue(i, element)"
                 (keydown.escape)="onSelectedRowClose(element, i, categoryTable)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" panelWidth="auto" (optionSelected)="onDBValueSelected()">
            <mat-option *ngFor="let tree of categoryListTree" [value]="tree.categories.length > 1 ? tree.categories.reverse()[0] : tree.categories[0]">
              <div class="category-tree-container">
                <div *ngFor="let opt of tree.categories; index as i" class="category-tree-option">
                  <div [style.font-weight]="tree.categories.length - 1 != i ? '' : 'bolder'" class="category-tree-text">{{opt.title}}</div>
                  <mat-icon *ngIf="tree.categories.length - 1 != i" class="category-tree-icon">arrow_right</mat-icon>
                </div>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <span *ngIf="selectedRow?.id != i">{{element.categoryName}}</span>
      </td>

    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button class="mat-elevation-z2" (click)="addSuppAttr(categoryTable)">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let i = index; let element">
        <ng-container *ngIf="selectedRow?.id != i">
          <!--        <button mat-icon-button class="mat-elevation-z2" (click)="onSelectRow(element, i, config)">
                    <mat-icon>edit</mat-icon>
                  </button>&nbsp;-->
          <button mat-icon-button class="mat-elevation-z2" (click)="deleteTableLine(i, categoryTable)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <!--    <button mat-mini-fab color="primary" class="mat-elevation-z2" (click)="addNewAttr()" *ngIf="attrSelectedRow?.id == i">
              <mat-icon>add</mat-icon>
            </button>&nbsp;-->
        <div *ngIf="selectedRow?.id == i" class="buttons-container">
          <button mat-mini-fab color="primary" class="mat-elevation-z2" (click)="updateSelectedValue(i, element)" [disabled]="selectedRow?.keySupplier == ''">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button class="mat-elevation-z2" (click)="onSelectedRowClose(element, i, categoryTable)">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef=" categoryTableColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let i = index; let row; columns: categoryTableColumns;"></tr>
  </table>
</div>
