<style>
  .main {
    position: relative;
  }
  .actions-div {
    display: flex;
    justify-content: space-between;
  }
  .information{
    text-align: center;
    margin: 0px 0px;
    height: 40px;
  }
  .full-width {
    width: 100%;
  }
</style>

<div class="main">
  <h3>{{data.oldPackage == undefined ? "Добавление упаковки" : "Редактирование упаковки"}}</h3>


  <div class="inputs">
    <form [formGroup]="form" (ngSubmit)="onSubmitClick()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Штрихкод</mat-label>
        <input matInput formControlName="barcode" required>
      </mat-form-field>

      <div class="formBlockDouble">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Тип</mat-label>
          <input matInput formControlName="type">
        </mat-form-field>
      </div>


      <div class="formBlockTriple">
        <mat-form-field appearance="fill">
          <mat-label>Высота (см)</mat-label>
          <input matInput  formControlName="height" type="number" min="0" step="0.5">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill">
          <mat-label>Ширина (см)</mat-label>
          <input matInput  formControlName="width" type="number" min="0" step="0.5">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill">
          <mat-label>Глубина (см)</mat-label>
          <input matInput  formControlName="depth" type="number" min="0" step="0.5">
        </mat-form-field>&nbsp;
      </div>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Объём</mat-label>
        <input matInput formControlName="volume" type="number" min="0">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Вес (гр)</mat-label>
        <input matInput formControlName="weight" type="number" min="0">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Кол-во в упаковке</mat-label>
        <input matInput formControlName="packQty" type="number" min="0" pattern="\d*">
      </mat-form-field>

    </form>

  </div>

  <div mat-dialog-actions class="actions-div">
    <button mat-button mat-dialog-close (click)="onCancelClick()" type="button">Отмена</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="onSubmitClick()" [disabled]="form.invalid">Сохранить</button>
  </div>
</div>
