.formBlockSingle {
  width: 25%;
  display: flex;
  justify-content: space-between
}
.formBlockDouble {
  width: 50%;
  display: flex;
  justify-content: space-between
}
.formBlockTriple {
  width: 73%;
  display: flex;
  justify-content: space-between
}

.main {
  position: relative;
}
.actions-div {
  display: flex;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}
