.formBlockSingle {
  width: 25%;
  display: flex;
  justify-content: space-between
}
.formBlockDouble {
  width: 81%;
  display: flex;
  justify-content: space-between
}
.formBlockTriple {
  width: 100%;
  display: flex;
  justify-content: space-between
}

.main {
  position: relative;
}
.actions-div {
  display: flex;
  justify-content: space-between;
}
.full-width {
  width: 100%;
}

.formBlockFull {
  width: 100%;
  display: flex;
}

.weight {
  width: 59.1%
}



