.go-to-container {
  display: flex;
  align-items: baseline;
  background: white;
}
mat-form-field {
  width: 90px;
  margin: 6px 0;
  font-size: 12px;
}
.go-to-label {
  margin: 0 4px;
  font-size: 12px;
  color: rgba(0,0,0,.54);
}

.d-flex-container {
  display: flex;
  justify-content: flex-end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.mat-icon {
  height: 20px;
  width: 20px;
  font-size: 20px;
}

button {
  height: 100% !important;
  width: 32px !important;
  padding: 0 !important;
}
