.toolbox-container {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 1rem;
}

.toolbox-item-xl {
  grid-column: span 3;
}

.toolbox-item-two {
  grid-template-columns: 50% auto;
  display: grid;
  gap: 14px;
}

.toolbox-item-three {
  grid-template-columns: auto 21% 21%;
  display: grid;
  gap: 10px;
}

.raised-icon-button {
  min-width: 53px;
  width: 100%;
}

:host::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .toolbox-item { margin-right: 0}
  .toolbox-item-xl { margin-right: 0}
  .toolbox-item-three {grid-template-columns: 48% auto auto !important; gap: 1rem !important}
}


@media only screen and (max-width: 1910px) {
  .toolbox-item-xl {  grid-column: span 2;}
  .toolbox-item-three {grid-template-columns: auto 21% 21%; gap: 10px}
}

@media only screen and (max-width: 1280px) {
  .toolbox-item-xl {  grid-column: span 2;}
}

@media only screen and (max-width: 815px) {
  .toolbox-item-xl {  grid-column: span 1;}
}
@media only screen and (max-width: 965px) {
  :host ::ng-deep .mat-badge-medium.mat-badge-after .mat-badge-content {right: 0 !important}
}
