table {
  width: 100%;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 135px !important;
  width: 135px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: -webkit-center;
  text-align: center;
}
