<h3>{{data.oldTask == undefined ? "Добавление новой задачи" : "Задача " + "поставщика " + data.oldTask.supplierName}}</h3>
<form [formGroup]="fb" (ngSubmit)="onSubmitClick()">

  <app-supplier-autocomplete class="full-width" [appearance]="'fill'" (selectedSupplier)="handleChangeSelectedSupplier($event)"></app-supplier-autocomplete>

<!--  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Конфигурация</mat-label>
    <mat-select formControlName="configList" multiple>
      <mat-option *ngFor="let config of supplier.supplierConfigs" [value]="config">
        {{config.name}} {{config.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>-->

  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Название задачи</mat-label>
    <input matInput formControlName="nameTask">
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Описание</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Дата запуска</mat-label>
    <input matInput type="datetime-local" formControlName="startDate">
  </mat-form-field>

<!--  <div class="formBlockDouble">
    <mat-form-field appearance="fill" *ngIf="group.value == 'selection'" class="form-full-width">
      <mat-label>Планировщик</mat-label>
      <mat-select>
        <mat-option [value]="'0 0 12 * * ?'"> Каждый день </mat-option>
        <mat-option [value]="'0 0 0 ? * * *'"> Каждый месяц </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="group.value == 'input'" class="form-full-width">
      <mat-label>CRON выражение</mat-label>
      <input matInput>
    </mat-form-field>

  </div>-->

  <div style="display: flex; justify-content: space-between">
    <div class="form-full-width">
      <mat-form-field appearance="outline" class="form-full-width">
        <mat-label>CRON выражение</mat-label>
        <input appMaskInput matInput formControlName="cron" minlength="12" maxlength="13">
        <mat-hint align="start"><strong><a style="color: black" href="https://www.freeformatter.com/cron-expression-generator-quartz.html" target="_blank">Подробнее <small>(ссылка)</small></a></strong></mat-hint>
      </mat-form-field>

      <div>
        <mat-button-toggle-group formControlName="isEnable">
          <mat-button-toggle [value]="true"><mat-icon>play_arrow</mat-icon>Активна</mat-button-toggle>
          <mat-button-toggle [value]="false"><mat-icon>stop</mat-icon>Выключена</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>

    <mat-card style="width: 200px; margin-left: 5px; margin-top: 4px">
      <div>Структура cron</div>
       <div style="display: inline-grid"><strong style="font-size: 24px; text-align: center">*</strong><span style="writing-mode: vertical-rl;"> ── Секунды</span></div>
       <div style="display: inline-grid"><strong style="font-size: 24px; text-align: center">*</strong><span style="writing-mode: vertical-rl;"> ── Минуты</span></div>
       <div style="display: inline-grid"><strong style="font-size: 24px; text-align: center">*</strong><span style="writing-mode: vertical-rl;"> ── Часы</span></div>
       <div style="display: inline-grid"><strong style="font-size: 24px; text-align: center">*</strong><span style="writing-mode: vertical-rl;"> ── День месяца</span></div>
       <div style="display: inline-grid"><strong style="font-size: 24px; text-align: center">*</strong><span style="writing-mode: vertical-rl;"> ── Месяц</span></div>
       <div style="display: inline-grid"><strong style="font-size: 24px; text-align: center">*</strong><span style="writing-mode: vertical-rl;"> ── День недели</span></div>
       <div style="display: inline-grid"><strong style="font-size: 24px; text-align: center">*</strong><span style="writing-mode: vertical-rl;"> ── Год</span></div>
    </mat-card>
  </div>

  <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="onSubmitClick()" [disabled]="fb.invalid || supplier?.id == null">Сохранить</button>
</form>


