<h3>{{data.oldTask == undefined ? "Добавление новой задачи" : "Задача " + "поставщика " + data.oldTask.supplierName}}</h3>
<form [formGroup]="fb" (ngSubmit)="onSubmitClick()">

  <app-supplier-autocomplete class="full-width" [appearance]="'fill'" (selectedSupplier)="handleChangeSelectedSupplier($event)"></app-supplier-autocomplete>

<!--  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Конфигурация</mat-label>
    <mat-select formControlName="configList" multiple>
      <mat-option *ngFor="let config of supplier.supplierConfigs" [value]="config">
        {{config.name}} {{config.type}}
      </mat-option>
    </mat-select>
  </mat-form-field>-->

  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Название задачи</mat-label>
    <input matInput formControlName="nameTask">
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Описание</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-full-width">
    <mat-label>Дата запуска</mat-label>
    <input matInput type="datetime-local" formControlName="startAt">
  </mat-form-field>

<!--  <div class="formBlockDouble">
    <mat-form-field appearance="fill" *ngIf="group.value == 'selection'" class="form-full-width">
      <mat-label>Планировщик</mat-label>
      <mat-select>
        <mat-option [value]="'0 0 12 * * ?'"> Каждый день </mat-option>
        <mat-option [value]="'0 0 0 ? * * *'"> Каждый месяц </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="group.value == 'input'" class="form-full-width">
      <mat-label>CRON выражение</mat-label>
      <input matInput>
    </mat-form-field>

  </div>-->

  <div style="margin-bottom: 10px">
    <mat-card-subtitle style="display: block; padding: 10px"><strong>Интервал</strong></mat-card-subtitle>
    <mat-form-field appearance="outline" style="margin-right: 5px">
      <mat-label>Часы</mat-label>
      <input matInput type="number" formControlName="hours">
    </mat-form-field>

    <mat-form-field appearance="outline"  style="margin-right: 5px">
      <mat-label>Минуты</mat-label>
      <input matInput type="number" formControlName="minutes" max="60">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Секунды</mat-label>
      <input matInput type="number" formControlName="seconds" max="60">
    </mat-form-field>

    <div>
      <mat-button-toggle-group formControlName="isEnable">
        <mat-button-toggle [value]="true"><mat-icon>play_arrow</mat-icon>Активна</mat-button-toggle>
        <mat-button-toggle [value]="false"><mat-icon>stop</mat-icon>Выключена</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>

  <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="onSubmitClick()" [disabled]="fb.invalid || supplier?.id == null">Сохранить</button>
</form>


