.cardLink {
  color: rgba(0,0,0,.87);
}

.cardLink:visited {
  color:rgba(0,0,0,.87);
}

.mainStatCards {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1920px)) minmax(250px, 250px);
  gap: 1rem;
}

::ng-deep .mat-card-header .mat-card-header-text{
  margin: 0;
}

.statArea {
  margin-top: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.problemsArea {
  width: 100%;
}

.problemsContainer {
  overflow: auto;
  height: auto;
  max-height: 700px;
}

.problemCard {
  display: flex;
  justify-content: space-between;
}

.problemCardMessage {
  padding: 12px;
}

.customIconSize {
  font-size: 40px;
  height: 40px ;
  width: 40px ;
}

.importCard {
  grid-column: span 3;
}

canvas > .legend > .legend-item > .legend-rect {
  border-radius: 50%;
}

.chart-container {
  display: flex;
  justify-content: center;
}
