table {
  width: 100%;
}

.mat-column-actions,
.mat-column-supplierName,
.mat-column-etimFeature,
.mat-column-unit {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  justify-content: center;
  word-break: break-word;
}

.mat-column-actions {
  flex: 0 0 150px;
  width: 150px;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: center;
}

.mat-column-rating {
  flex: 0 0 80px;
  width: 80px;
}

.mat-column-supplierName,
.mat-column-etimFeature,
.mat-column-unit {
  flex: 0 0 160px;
  min-width: 160px;
}

.mat-column-type {
  width: 80px !important;
}

.left-panel {
  width: 350px;
  min-width: 300px;
  margin-right: 20px;
}
