<div class="page-container">
  <div class="mat-elevation-z2 full-width">
    <table mat-table *ngIf="dataSource.rowCount != 0 && !isLoading" [dataSource]="attributeDataSource" matSort [matSortActive]="sortActive" matSortDirection="{{sortDirection}}" (matSortChange)="sortData($event)" matSortDisableClear>
      <!-- rating Column -->
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Частота</th>
        <td mat-cell *matCellDef="let row">{{row.rating}}</td>
      </ng-container>
      <!-- fixed Column -->
      <ng-container matColumnDef="fixed">
        <th mat-header-cell *matHeaderCellDef>Фикс.</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Fix" (click)="switchFixAttr(row.id, !row.isFixed); row.isFixed = !row.isFixed"><mat-icon>{{row.isFixed ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon></button>
        </td>
      </ng-container>
      <!-- supplierName Column -->
      <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef>Поставщик</th>
        <td mat-cell *matCellDef="let row">
          <span [ngClass]="{'energomixStamp': row.supplierName == 'Энергомикс', 'supplierStamp': row.supplierName != 'Энергомикс'}">{{row.supplierName}}</span>
        </td>
      </ng-container>
      <!-- etimFeature Column -->
      <ng-container matColumnDef="etimFeature">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>ETIM</th>
        <td mat-cell *matCellDef="let row">{{row.etimFeature}}</td>
      </ng-container>
      <!-- nameAttribute Column -->
      <ng-container matColumnDef="nameAttribute">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Наименование</th>
        <td mat-cell *matCellDef="let row">{{row.nameAttribute}}</td>
      </ng-container>
      <!-- unit Column -->
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Ед. Изм.</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.unit" class="unit-mark">{{row.unit}}</span>
        </td>
      </ng-container>
      <!-- type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Тип</th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.type">{{row.type}}</span>
        </td>
      </ng-container>
      <!-- allValue Column -->
      <ng-container matColumnDef="allValue">
        <th mat-header-cell *matHeaderCellDef>Список значений</th>
        <td mat-cell *matCellDef="let row">{{row.allValues.join(', ').substring(0, 100)}}</td>
      </ng-container>
      <!-- ACTIONS Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button class="mat-elevation-z2" [routerLink]="['/attribute-add']"><mat-icon>add</mat-icon></button>
        </th>
        <td mat-cell *matCellDef="let item">
          <button *ngIf="!item.isFixed" mat-icon-button class="mat-elevation-z2" matTooltip="Заменить" (click)="swapItem(item.nameAttribute, item.id)"><mat-icon>swap_horiz</mat-icon></button>&nbsp;
          <button mat-icon-button class="mat-elevation-z2" matTooltip="Изменить" (click)="editItem(item.id)"><mat-icon>edit</mat-icon></button>&nbsp;
          <button *ngIf="!item.isFixed" mat-icon-button class="mat-elevation-z2" matTooltip="Удалить" (click)="confirmDeleteDialog(item.id, item.nameAttribute)"><mat-icon>delete</mat-icon></button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-card appearance="outlined" *ngIf="isLoading">
      <mat-card-content>
        <div class="table-placeholder-line" *ngFor="let i of [].constructor(pageSize)"></div>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" *ngIf="dataSource.rowCount == 0 && !isLoading">
      <mat-card-content>По вашему запросу ничего не найдено, попробуйте изменить критерии поиска</mat-card-content>
    </mat-card>
  </div>
</div>
<mat-paginator [ngStyle]="isPaginatorFixed == true ? {'position': 'fixed'} : {'position': 'absolute'}" class="paginator-fixed mat-elevation-z8" [style.visibility]="dataSource.rowCount > 0 ? 'visible' : 'hidden'" [length]="dataSource.rowCount" showFirstLastButtons [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]=[12,20,50,100] aria-label="Страница"></mat-paginator>
