:root {
  --toolbar-background-color: #003566;
  --toolbar-item-hover-color: #0055a3;
  --toolbar-item-active-color: #004a8f;
  --toolbar-item-icon-color: #gray;
  --toolbar-item-active-icon-color: #FFFFFF;
  --toolbar-color: #FFFFFF;
  --body-background-color: #EEEEEE;
}

body {
  width: 97%;
}

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  background: var(--body-background-color)
}

.page-title {
  font: 400 24px/32px Roboto, 'Open Sans', sans-serif;
  display: block;
  margin-bottom: 7px;
}

.page-title-light {
  font-size: 20px;
  display: block;
  margin-bottom: 7px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.input-form-outline-background > .mat-form-field-wrapper {
  background: white;
  border-radius: 6%;
  padding-bottom: 0;
  font-size: 12px;
  margin: 0.25em 0 0 0 !important;
}

.toolbox-button {
  height: 43px;
  line-height: 3.45 !important;
}

.paginator-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 10;
  width: 100%;
  color: black;
}

.unitMark {
  padding: 3px;
  background-color: rgba(0,0,0,.06);
  border: lightgray;
}

.energomixStamp {
  padding: 3px;
  color: white;
  background-color: #0009;
  border-radius: 9px;
}

.supplierStamp {
  padding: 3px;
  border: black 1px solid;
  border-radius: 9px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.form-full-width {
  width: 100%;
}

a:link {
   color: #337ab7;
   background-color: transparent;
   text-decoration: none;
 }
a:visited {
  color: #337ab7;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #284C7E;
  background-color: transparent;
  text-decoration: none;
}

.success-snackbar {
  background: green;
  color:white;
}

.error-snackbar {
  background: #f44336;
  color:white;
}

.warning-snackbar {
  background: darkorange;
  color:white;
}

.dialog-dark-backdrop {
  background-color: rgb(0 0 0 / 70%);
}

.flexExpand {
  flex: 1 1 auto;
}
