/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.form-full-width {
  width: 100%;
}

a:link {
   color: #337ab7;
   background-color: transparent;
   text-decoration: none;
 }
a:visited {
  color: #337ab7;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #284C7E;
  background-color: transparent;
  text-decoration: none;
}

.success-snackbar {
  background: green;
  color:white;
}

.error-snackbar {
  background: #f44336;
  color:white;
}

.warning-snackbar {
  background: darkorange;
  color:white;
}
.flexExpand {
  flex: 1 1 auto;
}
/*a:active {*/
/*  color: yellow;*/
/*  background-color: transparent;*/
/*  text-decoration: none;*/
/*}*/
