table {
  width: 100%;
}
.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 90px !important;
  width: 90px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  justify-content: center;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  text-align: -webkit-center;
  text-align: center;
}
.mat-column-internalCode {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 100px !important;
  width: 100px !important;
  text-align: -webkit-center;
  text-align: center;
}
.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  vertical-align: top;
}
th {
  text-align: center !important;
  vertical-align: middle !important;
}
.mat-column-preview {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 250px !important;
  width: 260px !important;
  text-align: -webkit-center;
  text-align: center;
}
.left-panel {
  width: 350px;
  min-width: 300px;
  margin-right: 20px;
}
.page-container {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.containerCmain {
  position: relative;
}
.imgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  display: flex;
  align-items: center;
  height: 100%;
}

.imgInContainer {
  object-fit: contain;
  height: auto;
  margin: auto;
  vertical-align: middle;
  max-height: 150px;
  max-width: 250px;
}
.containerC {
  height: 173px;
  display: flex;
}
.hoverBlockC {
  border-bottom: 3px solid lightgray;
  flex: 1 1 auto;
  z-index:5;
  margin: 0 2px;
}
.hoverBlockC:hover {
  border-bottom: 3px solid black;
  z-index:5;
}
.full-width {
  width: 100%;
}
table {
  width: 100%;
}
tr.element-row:not(.example-expanded-row):hover {
  background-image: linear-gradient(to right, white , whitesmoke);
}
tr.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.btnAsText {
  background:none;
  border-style: none;
  margin:0;
  padding:0;
  cursor: pointer;
  font:400 24px/32px Roboto, "Helvetica Neue", sans-serif
}

.attributeFilter-viewport {
  height: 150px;
  /*width: 250px;*/
}

.attributeFilter-item {
  /*height: 70px;*/
  /*word-break: break-word;*/
}

::ng-deep .mat-select-panel.select-long-panel {
  max-height: 500px;
}
.mat-select-panel mat-option.mat-option {
  height: unset;
}

.multiline-mat-option.mat-option {
  white-space: normal;
  line-height: normal;
  height: unset;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
}
