<div class="header-container" style="display: inline-flex; align-items: center;">
  <h3>Товары &nbsp;</h3>
  <mat-spinner diameter="35" *ngIf="dataSource.loading$ | async"></mat-spinner>
</div>

<div class="page-container">
  <div class="left-panel">
    <form class="example-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Поиск</mat-label>
      <input matInput [formControl]="searchQueryCtrl" (keydown.enter)="searchQueryChanged()">
    </mat-form-field>
    <br />

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Поставщик</mat-label>
      <input type="text" matInput aria-label="Поставщик"
             [formControl]="searchSuppliersCtrl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onSupplierSelected()">
        <mat-option *ngFor="let option of supplierList" [value]="option">
          {{option.supplierName}}
        </mat-option>
      </mat-autocomplete>
      <button *ngIf="selectedSupplier" matSuffix mat-icon-button aria-label="Clear" (click)="onClearSupplierSelection()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!--[formControl]="withInternalCode"-->
    <mat-button-toggle-group name="withInternalCode" class="full-width" [(ngModel)]="withInternalCodeSelector" [value]="withInternalCodeSelector" (change)="loadProductPagedData()">
      <mat-button-toggle [value]="false" class="full-width">Все товары</mat-button-toggle>
      <mat-button-toggle [value]="true" class="full-width">Только с артикулом</mat-button-toggle>
    </mat-button-toggle-group>
    </form>
  </div>
  <div class="mat-elevation-z8 full-width">
    <table mat-table [dataSource]="dataSource">
      <!-- Preview Column -->
      <ng-container matColumnDef="preview">
        <th mat-header-cell *matHeaderCellDef>Фотографии</th>
        <td mat-cell *matCellDef="let row">

          <ng-template #t [ngTemplateOutlet]="t"
                       let-a [ngTemplateOutletContext]="{ $implicit: 0 }">
            <div class="containerCmain" *ngIf="hoverRowId==row.id">
              <img (error)="handleMissingImage($event)" [src]="hoverImage"  class="imgInContainer" />
              <div class="containerC">
                <div *ngFor="let image of row.images; index as i" class="hoverBlockC" (mouseover)="changeImage(row, image)" (click)="openDialog(image)"></div>
              </div>
            </div>
            <div class="containerCmain" *ngIf="hoverRowId!=row.id">
              <img (error)="handleMissingImage($event)" [src]="row.images[0]" class="imgInContainer"/>
              <div class="containerC">
                <div *ngFor="let image of row.images; index as i" class="hoverBlockC" (mouseover)="changeImage(row, image)"></div>
              </div>
            </div>
          </ng-template>

        </td>
      </ng-container>

      <!-- internalCode Column -->
      <ng-container matColumnDef="internalCode">
        <th mat-header-cell *matHeaderCellDef>Артикул</th>
        <td mat-cell *matCellDef="let row"><b>{{row.internalCode}}</b></td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Наименование товара</th>
        <td mat-cell *matCellDef="let row">

          <ng-template #t [ngTemplateOutlet]="t"
                       let-a [ngTemplateOutletContext]="{ $implicit: 0 }">
          <div>
            <h4><a href="/product-details/{{row.id}}">[{{row.vendor}}] {{row.title}}</a> </h4>
            <p style="font-style: italic">Артикул вендора <strong>{{row.vendorId}}</strong></p>
            <p>Штрихкод нетто <strong>{{row.netto?.barcode || ""}}</strong></p>
          </div>

          </ng-template>

        </td>
      </ng-container>

      <!-- supplier Column -->
      <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef>Поставщик</th>
        <td mat-cell *matCellDef="let row">{{row.supplierName}}</td>
      </ng-container>

      <!-- ACTIONS Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button class="mat-elevation-z2" matTooltip="Добавить товар" (click)="addItem()">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let item">

          <button mat-icon-button class="mat-elevation-z2" matTooltip="Изменить товар" (click)="goToItemDetails(item.id)">
            <mat-icon>edit</mat-icon>
          </button>&nbsp;
          <button mat-icon-button class="mat-elevation-z2" matTooltip="Удалить товар" (click)="deleteItem(item.id)">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
    <mat-paginator [length]="dataSource.rowCount" showFirstLastButtons [pageSize]="10" [pageSizeOptions]=[10,20,50,100] aria-label="Страница">
    </mat-paginator>
  </div>

</div>
