.category-tree-container {
  display: flex;

  .category-tree-option {
    display: flex;
    .category-tree-text {
      background: #EEEEEE;padding: 3px 10px;
    }

    .category-tree-icon {
      margin-right: 0
    }
  }
}

::ng-deep .cdk-overlay-pane {
  /* Do you changes here */
  /*
  min-width:450px;
  */
}
