.left-arrow-btn, .right-arrow-btn {
  position: fixed;
  top: 50%;
  background: white;
}

.left-arrow-btn {
  left: 100px;
}

.right-arrow-btn {
  right: 100px;
}

button:hover {
  color: var(--toolbar-item-active-color);
}

img {
  max-height: 700px;
  object-fit: cover;
  width: 100%;
}
