<div class="header-container">
  <h3>Главная &nbsp;</h3>
  <app-supplier-autocomplete></app-supplier-autocomplete>
</div>

<app-admin-stat *ngIf="roles.includes('goodware-admin')" [data]="chartList" [lastStats]="lastStats" [errorsList]="errorsConfig" [tasks]="tasks"></app-admin-stat>
<app-manager-stat *ngIf="roles.includes('goodware-manager') && !roles.includes('goodware-admin')"></app-manager-stat>


<!--
<div class="statArea">

  <div [style.width]="errorsConfig.length > 0 ? '63%' : '100%'">
    <div style="display: flex; justify-content: space-between">
      <mat-card class="statCard mat-elevation-z2" style="position: relative">
        <div class="statCardHeader">
          <strong>Товары</strong>
          <mat-icon class="customIconSize">local_offer</mat-icon>
        </div>
        <div class="statContainer">
          <div><div class="statContainerValue">{{lastStats?.productQty ? lastStats.productQty : 0}}</div>Всего</div>
          <div><div class="statContainerValue">{{lastStats?.productQtyWithCode ? lastStats.productQtyWithCode : 0}}</div>С артикулом</div>
        </div>

        &lt;!&ndash;    <div style="position: absolute; z-index: 7; display: flex; justify-content: space-between; background-color: rgba(0,0,0,.12); width: 100%; height: 100%">
              <div><div class="statContainerValue">25044</div>Всего</div>
              <div><div class="statContainerValue">243</div>С артикулом</div>

            </div>

            <div style="display: block;">
              <canvas baseChart [type]="'line'" [height]="270" [width]="555" [options]="minimizedChartConfig" [legend]="false" [data]="chartData.data"></canvas>
            </div>&ndash;&gt;

      </mat-card>

      <mat-card class="statCard mat-elevation-z2">
        <div class="statCardHeader">
          <strong>Документы</strong>
          <mat-icon class="customIconSize">insert_drive_file</mat-icon>
        </div>
        <div class="statContainer">
          <div><div class="statContainerValue">{{lastStats?.documentQty ? lastStats.documentQty : 0}}</div>Всего</div>
          <div><div class="statContainerValue">{{lastStats?.certNumberQty ? lastStats.certNumberQty : 0}}</div>Сертификатов</div>
        </div>
      </mat-card>

      <mat-card class="statCard mat-elevation-z2">
        <div class="statCardHeader">
          <strong>Атрибуты</strong>
          <mat-icon class="customIconSize">list</mat-icon>
        </div>
        <div class="statContainer">
          <div><div class="statContainerValue">{{lastStats?.attributeQty ? lastStats.attributeQty : 0}}</div>Всего</div>
          <div><div class="statContainerValue">{{lastStats?.attributeIsFixedQty ? lastStats.attributeIsFixedQty : 0}}</div>Фиксированных</div>
        </div>
      </mat-card>
    </div>

    <div *ngFor="let chart of this.chartList" class="graphContainer">
      <strong *ngIf="chart.data.datasets.length > 0">Статистика &nbsp;</strong>
      <div *ngIf="chart.data.datasets.length > 0">
        <canvas baseChart [type]="'line'" [data]="chart.data ? chart.data : {}"></canvas>
      </div>
    </div>
  </div>


  <div class="problemsArea" *ngIf="errorsConfig.length > 0">
    <strong>Проблемы &nbsp;</strong>
    <div class="problemsContainer">
      <div class="problemCard mat-elevation-z2" *ngFor="let messages of errorsConfig">
        <div class="problemCardMessage"><strong>{{messages.name}}</strong><div *ngFor="let msg of messages.value">{{msg}}</div></div>
&lt;!&ndash;
        <button mat-icon-button><mat-icon>close</mat-icon></button>
&ndash;&gt;
      </div>
    </div>
  </div>

</div>
-->


<!--<div class="statArea">
  <div style="width: 68%">
    <strong>Статистика &nbsp;</strong>

    <div style="display: flex; justify-content: space-between">
      <mat-card class="statCard mat-elevation-z2" style="position: relative">
        <div class="statCardHeader">
          <strong>Товары</strong>
          <mat-icon class="customIconSize">local_offer</mat-icon>
        </div>
        <div class="statContainer">
          <div><div class="statContainerValue">{{lastStats?.productQty ? lastStats.productQty : 0}}</div>Всего</div>
          <div><div class="statContainerValue">{{lastStats?.productQtyWithCode ? lastStats.productQtyWithCode : 0}}</div>С артикулом</div>
        </div>

        &lt;!&ndash;    <div style="position: absolute; z-index: 7; display: flex; justify-content: space-between; background-color: rgba(0,0,0,.12); width: 100%; height: 100%">
              <div><div class="statContainerValue">25044</div>Всего</div>
              <div><div class="statContainerValue">243</div>С артикулом</div>

            </div>

            <div style="display: block;">
              <canvas baseChart [type]="'line'" [height]="270" [width]="555" [options]="minimizedChartConfig" [legend]="false" [data]="chartData.data"></canvas>
            </div>&ndash;&gt;

      </mat-card>

      <mat-card class="statCard mat-elevation-z2">
        <div class="statCardHeader">
          <strong>Документы</strong>
          <mat-icon class="customIconSize">insert_drive_file</mat-icon>
        </div>
        <div class="statContainer">
          <div><div class="statContainerValue">300</div>Всего</div>
          <div><div class="statContainerValue">20</div>Сертификатов</div>
        </div>
      </mat-card>

      <mat-card class="statCard mat-elevation-z2">
        <div class="statCardHeader">
          <strong>Атрибуты</strong>
          <mat-icon class="customIconSize">list</mat-icon>
        </div>
        <div class="statContainer">
          <div><div class="statContainerValue">46000</div>Всего</div>
          <div><div class="statContainerValue">14000</div>Фиксированных</div>
        </div>
      </mat-card>
    </div>
    <div class="chartsGrid" [style.grid-template-columns]="generateColumns()">

      <div *ngFor="let chart of this.chartList">
        <div *ngIf="chart.data.datasets.length > 0" class="mat-elevation-z2">

  &lt;!&ndash;        <div class="chartValueContainer">
            <div>{{chart.headers[0]?.title}}</div>
            <div>{{chart.headers[1]?.title}}</div>
          </div>

          <div class="chartValueContainer">
            <div class="chartValue">{{lastStats[chart.headers[0]?.value]}}</div>
            <div class="chartValue">{{lastStats[chart.headers[1]?.value]}}</div>
          </div>
&ndash;&gt;
          <canvas baseChart width="365" height="200" [type]="'line'" [data]="chart.data"></canvas>
        </div>
      </div>
    </div>
  </div>


  <div class="problemsArea">
    <strong>Проблемы &nbsp;</strong>
    <div class="problemsContainer">
      <div class="problemCard mat-elevation-z2" *ngFor="let messages of errorsConfig">
        <div class="problemCardMessage">Поставщик <strong>{{selectedSupplier.supplierName}}</strong>: <div *ngFor="let msg of messages">{{msg}}</div></div>
        <button mat-icon-button><mat-icon>close</mat-icon></button>
      </div>
    </div>
  </div>
</div>-->


<!--
<div class="statArea" *ngIf="!isLoading">
  <mat-card class="statContainer">
    Всего товаров
    <div class="statValueContainer">
      {{lastStats?.productQty ? lastStats.productQty : 0}}
    </div>

  </mat-card>

  <mat-card class="statContainer">
    Товаров с артикулом
    <div class="statValueContainer">
      {{lastStats?.productQtyWithCode ? lastStats.productQtyWithCode : 0}}
    </div>
  </mat-card>

  <mat-card class="statContainer">
    Кол-во документов
    <div class="statValueContainer">
      {{lastStats?.documentQty ? lastStats.documentQty : 0}}
    </div>
  </mat-card>

  <mat-card class="statContainer">
    Кол-во фотографий
    <div class="statValueContainer">
      {{lastStats?.imageQty ? lastStats.imageQty : 0}}
    </div>
  </mat-card>

  <mat-card class="statContainer">
    Кол-во атрибутов
    <div class="statValueContainer">
      {{lastStats?.attributeQty ? lastStats.attributeQty : 0}}
    </div>
  </mat-card>

  <mat-card class="statContainer">
    Дата последнего импорта
    <div class="statValueContainer">
      {{lastStats?.lastImport | date:'dd-MM-yyyy'}}
    </div>
  </mat-card>

</div>

</div>
-->
